{% extends "ErpProject/ModuleRessourcesHumaines/shared/layout.html" %}{% block page %}{%load static %}

<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_rh_tableau_de_bord' %}">Module Ressources Humaines</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_rh_tableau_de_bord' %}">Suivis des carrière: Liste des employés</a></li>
        <li>{{ title }}</li>
    </ul>
    <div class="row">
        <div class="col-lg-12">
            <h2>{{title}}</h2>
            <strong style="float: right;color: grey;opacity: 0.85;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
            <div class="separ" style="background-color: grey;opacity: 0.2"></div>
                <br>
                <!-- Appel de la fonction message -->
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
                <button id="btnExport" class="button small-button rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer en Excel</button>
                <!-- <button onclick="printScreen();" class="button small-button rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer en PDF</button> -->
                <a href="{% url 'module_ressourceshumaines_reporting_item_suivi_carriere_employe' model.id %}" class="button small-button rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer en PDF</a>
                <br>
                <div id="suivicarrierPrint" class="panel panel-default" style="border: none;">
                    <div id="export" class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                        <script src="{% static 'ErpProject/js/jsPDF.js' %}">
                            $(document).ready(function(){
                                function genPDF() {
                                    var doc = new jsPDF();

                                    doc.fromHTML($('#export').get(0), 20, 20, {
                                        'width': 1024 }
                                    );

                                    doc.save('SuiviCarriere.pdf');
                                }
                                $("#btnPDF").click(genPDF);
                            });

                        </script>
                        <br>
                        <center><h1>FICHE DE CARRIERE - ARPCE</h1></center>
                        <center><h3>Etabli à la date du {% now "jS F Y" %}</h3></center>
                        <br>
                        <div class="row">
                            <table class="display table nowrap border bordered" cellspacing="0" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>Nom : <strong>{{ model.nom }}</strong> </td>
                                        <td>Prénom : <strong>{{ model.prenom }}</strong> </td>
                                        <td>Date de naissance : <strong>{{ model.profilrh.date_naissance }}</strong> </td>
                                        <td>Situation matrimoniale : <strong>{{ model.profilrh.situation_familliale }}</strong> </td>
                                        <td>Nationalité : <strong>{{ model.profilrh.nationalite }}</strong> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <table class="display table nowrap border bordered striped" cellspacing="0" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>Qualification: <strong>{{ model.profilrh.grade }}</strong> </td>
                                        <td>Emploi-Type: <strong>{{ model.poste.designation }}</strong> </td>
                                        <td>Matricule : <strong>{{ model.profilrh.matricule }}</strong> </td>
                                    </tr>
                                    <tr>
                                        <td>Niveau d'étude: <strong>{{ model.profilrh.education }}</strong> </td>
                                        <td>Catégorie: <strong>{{ model.categorie_employe.categorie }}</strong> </td>
                                        <td>Echelon : <strong>{{ model.categorie_employe.echelon }}</strong> </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">Affectation actuelle: <strong>{{ model.poste.designation }}</strong></td>
                                        <td colspan="2">Service: <strong>{{ model.unite_fonctionnelle.libelle }}</strong></td>
                                        <tr>
                                            <td>Direction : <strong>{{ model.unite_fonctionnelle.unite_fonctionnelle.libelle }}</strong> </td>
                                            <td>Ville : <strong>Brazzaville</strong></td>
                                        </tr>
                                    </tr>
                                    <tr>
                                        <td>Téléphone: <strong>{{ model.profilrh.phone_professionnel }}</strong> </td>
                                        <td>Adresse: <strong>{{ model.adresse }}</strong> </td>
                                        <td>E-mail : <strong>{{ model.email.professionnel }}</strong> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <center><h3>RUBRIQUE 1 : DIPLOMES ET FORMATIONS</h3></center>
                        {% if documents %}
                            <div class="row">
                                <div class="row">
                                    {% if documents.count == 0 %}
                                    <p><span class="sub-alt-header fg-dark">Aucun document enregistré</span></p>
                                    {% endif %}
                                    <ol>
                                        {% for item in documents %}
                                        <li style="margin-bottom: 0.25em">
                                                <a href="/static{{item.url_document}}"> <span class="fa fa-file"></span>  <span>{{item.description}} </span>  </a>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        {% else %}
                        <center><h4><em><strong><span style="color: red;">{{ model.nom_complet }} n'a aucun document.</span></strong></em></h4></center>
                        {% endif %}
                        <br>
                        <br>
                        <center><h3>RUBRIQUE 2 : FORMATIONS ASSUREE PAR L'ARPCE</h3></center>
                        {% if formations %}
                        <div class="row">
                            <table class="display table nowrap border bordered striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Intitulé des formations / stages suivis</th>
                                        <th>Organisme de formation</th>
                                        <th>Lieu</th>
                                        <th>Année</th>
                                        <th>Durée</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formations %}
                                        <tr>
                                            <td>{{ form.formation.theme }}</td>
                                            <td>{{ form.formation.oragnisme_formation }}</td>
                                            <td>{{ form.formation.localite_organisme }}</td>
                                            <td>{{ form.formation.annee }}</td>
                                            <td>{{ form.formation.nombre_jour_formation }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <center><h4><em><strong><span style="color: red;">{{ model.nom_complet }} n'a suivi aucunes formations à l'ARPCE</span></strong></em></h4></center>
                        {% endif %}
                        <br>
                        <br>
                        <center><h3>RUBRIQUE 3 : EMPLOIS ET FONCTION AVANT / HORS ARPCE</h3></center>
                        {% if emplois %}
                        <div class="row">
                            <table class="display table nowrap border bordered striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Etablissement</th>
                                        <th>Lieu</th>
                                        <th>Fonctions</th>
                                        <th>Catégorie socio-professionnel</th>
                                        <th>Date d'entrée</th>
                                        <th>Date de sortie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empl in emplois %}
                                        <tr>
                                            <td>{{ empl.etablissement }}</td>
                                            <td>{{ empl.lieu }}</td>
                                            <td>{{ empl.fonctions }}</td>
                                            <td>{{ empl.categorie_socio_professionnelle }}</td>
                                            <td>{{ empl.date_entree }}</td>
                                            <td>{{ empl.date_sortie }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <center><h4><em><strong><span style="color: red;">{{ model.nom_complet }} n'a aucun emplois ni de fonctions avant l'ARPCE</span></strong></em></h4></center>
                        {% endif %}
                    </div>
                    <br>
                    <br>
                    <center><h3>RUBRIQUE 4 : MOBILITES ET FONCTIONS OCCUPEES A l’ARPCE</h3></center>
                    <div class="row">
                        <table class="display table nowrap border bordered striped" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width: 14%;">Direction</th>
                                    <th style="width: 14%;">Service</th>
                                    <th style="width: 14%;">Fonctions occupées</th>
                                    <th style="width: 14%;">Catégorie socio-professionnel</th>
                                    <th style="width: 14%;">Modalités</th>
                                    <th style="width: 14%;">Date d'entrée</th>
                                    <th style="width: 14%;">Date de sortie</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mob in mobilites %}
                                    <tr>
                                        <td>{{ mob.direction }}</td>
                                        <td>{{ mob.service }}</td>
                                        <td>{{ mob.fonctions_occupees }}</td>
                                        <td>{{ mob.categorie_socio_professionnelle }}</td>
                                        <td>{{ mob.modalites }}</td>
                                        <td>{{ mob.date_entree }}</td>
                                        <td>{{ mob.date_sortie }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <center><h3>RUBRIQUE 5 : EVALUATION</h3></center>
                    {% if evaluations %}
                    <div class="row">
                        <table class="display nowrap table border bordered striped" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width: 14%;">Description</th>
                                    <th style="width: 14%;">Instructions</th>
                                    <th style="width: 14%;">Echelle de notation</th>
                                    <th style="width: 14%;">Echelle de performance</th>
                                    <th style="width: 14%;">Echell de coéfficient</th>
                                    <th style="width: 14%;">Appréciation</th>
                                    <th style="width: 14%;">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for eval in evaluations %}
                                    <tr>
                                        <td>{{ eval.description }}</td>
                                        <td>{{ eval.instructions }}</td>
                                        <td>{{ eval.echelle_notation}}</td>
                                        <td>{{ eval.echelle_performance}}</td>
                                        <td>{{ eval.echelle_coefficient}}</td>
                                        <td>{{ eval.appreciation}}</td>
                                        <td>{{ eval.date_appreciation}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <center><h4><em><strong><span style="color: red;">{{ model.nom_complet }} n'a suivi aucune évaluation au sein de l'ARPCE</span></strong></em></h4></center>
                    {% endif %}

                    <br>
                    <!-- Appel de la fonction export to excell  -->
                    {#{% include 'ErpProject/ErpBackOffice/widget/export.html' with rapport=messages only %}#}
                    <script></script>
                    <script>
                        $("#btnExport").click(function (e) {
                            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#export').html()));
                            e.preventDefault();
                        });
                    </script>

                </div>
        </div>
    </div>

</div>
<!-- Print Info -->
<button type="button" id="lancermodal" data-toggle="modal" data-target="#monmodal" style="display: none;">executer</button>
<div id="monmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <iframe id="iframemodal" frameborder="0" style="width: 100%;" height="600px"></iframe>
                </center>
                <hr>
                <center>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">FERMER</button>
                </center>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'ErpProject/js/pdf/print.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/jspdf.debug.js' %}"></script>
<script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/cell.js' %}"></script>
<script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/jspdf.plugin.autotable.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/from_html.js' %}"></script>
<script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/html2canvas.min.js' %}"></script>
<!-- Print Document Function -->
<script>
    function printScreen() {
        const filename = 'suivi carriere.pdf';
        var pdf = new jsPDF('l', 'pt', 'ledger');

        pdf.html($('#suivicarrierPrint')[0], {
            callback: function (pdf) {
                var string = pdf.output('datauristring');
                $('#iframemodal').attr('src', string);
                $('#lancermodal').click();
            }
        });

        margins = {
            top: 0,
            bottom: 0,
            left: 0,
            width: 0
        };
    }
</script>
<!-- Impression -->


{% endblock %}