{% extends "ErpProject/ModuleBudget/shared/layout.html" %}
{% block page %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_budget_tableau_de_bord' %}">Module Budget</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row only-on-small-screen">
        <h2 class="text-light no-margin-left">{{ title }}</h2>
    </div>
        
    <div class="col-md-2">
        {% include 'ErpProject/ErpBackOffice/widget/submitButton.html' with  id="btnSubmit"  class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" val="Valider"%}
        </div>
        <div class="col-md-2">
            <button onclick="javascript:window.location.assign('{% url 'module_budget_tableau_de_bord' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click" style="width:100%">Annuler</button>
        </div>
    
    <div class="row only-on-small-screen">
        {% include 'ErpProject/ErpBackOffice/widget/submitButton.html' with  id="btnSubmit" class="button large-button rounded primary_color_{{module.name|lower}}" val="Valider"%}
        <button onclick="javascript:window.location.assign('{% url 'module_budget_tableau_de_bord' %}')" class="button large-button rounded chargement-au-click" style="width:100%">Annuler</button>
    </div>
    <br>
    <!-- Appel de la fonction message -->
        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
    <br>
    
    <div class="row item-content" style="margin-top: 10px">
        <form id="form" method="POST" action="{% url 'module_budget_post_analyse_budgetaire' %}"
            data-role="validator" 
            data-show-required-state="false"
            data-hint-mode="line"
            data-hint-background="bg-red"
            data-hint-color="fg-white"
            data-hide-error="5000"
            novalidate="novalidate"
            data-on-error-input="notifyOnErrorInput"
            data-show-error-hint="false">
            {% csrf_token %}
            <input id="submit" type="submit" style="display: none">
            
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                            <label>Exercice budgetaire :</label>
                            <div class="input-control text full-size">
                                <select name="exercice_bgt">
                                    <option value="0">En cours</option>
                                    <!-- {% for item in exercices %}
                                        <option value="{{ item.id }}">{{ item.designation }}</option>
                                    {% endfor %} -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <label>Type d'extraction :</label>
                            <div class="input-control select full-size">
                                <select name="type_extraction" id="type_extraction"
                                    data-validate-func="min"
                                    data-validate-arg="1"
                                    data-validate-hint="Sélectionnez la devise svp.">
                                    <option value="0">Sélectionnez un type d'extraction</option>
                                    <option value="1">Budget de dépense</option>
                                    <option value="2">Ligne budgétaire</option>
                                    <option value="3">Ligne budgétaire Projet</option>
                                    <option value="4">Projet</option>
                                    <option value="5">Budget sur Bon de Commande</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date de début :</label>
                            <div id="input-date-debut" class="input-control text full-size"  data-format="dd/mm/yyyy" data-role="datepicker" data-locale="fr">
                                <input readonly type="text" name="date_debut" id="date_debut" readonly
                                    data-validate-func="required" 
                                    data-validate-hint="Précisez la date de début svp.">
                                <div class="button"><span class="mif-calendar"></span></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Date de fin :</label>
                            <div id="input-date-fin" class="input-control text full-size"  data-format="dd/mm/yyyy" data-role="datepicker" data-locale="fr">
                                <input readonly type="text" name="date_fin" id="date_fin" readonly
                                    data-validate-func="required" 
                                    data-validate-hint="Précisez la date de fin svp.">
                                <div class="button"><span class="mif-calendar"></span></div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
            <div class="row" id="liste_comptes" style="display: none">
                <p class="sub-header">Sélectionnez des comptes...</p>
                <table class="table no-margin">
                    <thead class="no-border">
                        <tr>
                            <th class="no-padding-top no-padding-left no-padding-bottom" width="80%">Compte</th>
                            <th width="20%"></th>
                        </tr>
                    </thead>
                    <tbody id="items">
                    </tbody>
                </table>
                <div class="row margin10 no-margin-left no-margin-right">
                    <button type="button" class="theme-btn theme-btn-sm rounded" id="btnAjouterLigne">Ajouter une ligne</button>
                </div>
            </div>
        </form>       
    </div>
    <script>
        var lesComptes = new Array();
    
        {% for item in comptes %}
            lesComptes.push({id:"{{ item.id }}", designation:"{{ item.numero }} {{ item.designation }}"});
        {% endfor %}
    </script>
    <script>
        var nombreLignes = 0;
        var nombreItems = 0;
        var ligneActuelle = 0;
        var compteur = 0;

        $("#btnAjouterLigne").on("click", function () {
            nombreLignes++;
            compteur++;
            var nouvelleLigne = '<tr id="ligne' + compteur + '"><td class="no-padding-top no-padding-left no-padding-bottom">';
            nouvelleLigne += '<div class="input-control select full-size">';
            nouvelleLigne += '<select name="compte_id" id="compte_id' + compteur + '" data-validate-func="min"';
            nouvelleLigne += ' data-validate-arg="1" data-validate-hint="Sélectionnez un compte svp"><option value="0">Sélectionnez un compte</option>';
            nouvelleLigne += renvoyerOptionsComptes();
            nouvelleLigne += '</select></div></td><td class="no-padding-top no-padding-bottom"><div class="pagination no-border">';
            nouvelleLigne += '<span class="item" title="Supprimer la ligne" onclick="supprimerLigne(' + compteur + ')"><span class="mif-cross fg-red"></span></span>';
            nouvelleLigne += '</div></td></tr>';
    
            $("#items").append(nouvelleLigne);
        });

        function supprimerLigne(indice) {
            nombreLignes--;
            $("#ligne" + indice).remove();
        }

        function renvoyerOptionsComptes()
        {
            var ligne = "";
            for(var i = 0; i < lesComptes.length; i++)
            {
                var compte = lesComptes[i];
                ligne += '<option value="' + compte.id + '">' + compte.designation + '</option>';
            }
            return ligne;
        }

        function choix_groupe()
        {
            var choix = $("#groupe").val();
            if(choix == "-1")
            {
                $("#btnAjouterLigne").click();
                $("#liste_comptes").css("display", "block");
            }
            else
            {
                $("#liste_comptes").css("display", "none");
                $("#items").children().remove();
            }
        }
    </script>
{% endblock %}