{% extends "ErpProject\ModuleVente\shared\layout.html" %}
{% block page %}
    <ul class="breadcrumbs2 small">
        <li><a class="chargement-au-click"><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_vente_list_categorie_clients' %}">Module Vente</a></li>
        <li>{{ title }}</li>
    </ul>
    <div class="row">
        <button class="button small-button rounded primary chargement-au-click primary_color_{{ module.name|lower }}" onclick="javascript:window.location.assign('{% url 'module_vente_add_categorie_clients' %}')" style="margin-left: 5px">Créer</button>
    </div>
    
    <hr class="hr-ligne">
    <!-- Appel de la fonction message -->
        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
    <br>
    

    <div class="row" style="margin-top: 10px">
        <table id="example" class="display nowrap border bordered striped" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 20px"></th>
                    <th>Designation</th>
                </tr>
            </thead>
            <tbody>
                {% for item in model %}
                    <tr>
                        <td>
                            <label class="small-check">
                                <input type="checkbox">
                                <span class="check"></span>
                            </label>
                        </td>
                        <td> 
                            <a class="lien chargement-au-click" href="{% url 'module_vente_details_categorie_clients' item.id %}">{{ item.designation }}</a> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    {
                        extends: 'copyHtml5',
                        text: "<span class='mdi mdi-content-copy' style='font-size:1rem;color:#424892;'></span> Copy",
                        titleAttr: "Copier"
                    },
                    {
                        extends: 'excelHtml5',
                        text: "<span class='mdi mdi-file-excel' style='font-size:1rem;color:#236e43;'></span> Excel",
                        titleAttr: "Exporter en excel"
                    },
                    {
                        extends: 'csvHtml5',
                        text: "<span class='mdi mdi-file-outline' style='font-size:1rem;color:#9c27b0;'></span> CSV",
                        titleAttr: "Exporter en csv"
                    },
                    {
                        extends: 'pdfHtml5',
                        text: "<span class='mdi mdi-file-pdf' style='font-size:1rem;color:#f44336;'></span> PDF",
                        titleAttr: "Exporter en pdf"
                    },
                    //'copyHtml5',
                    //'excelHtml5',
                    //'csvHtml5',
                    //'pdfHtml5'
                ]
            } );
        } );
    </script>
    
{% endblock %}