{% extends "ErpProject/ModuleComptabilite/shared/layout.html" %}
{% block page %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_comptabilite_tableau_de_bord' %}">Module Comptabilité</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <h2>{{ title }}</h2>
        <strong style="float: right;color: grey;opacity: 0.85;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
            <div class="separ" style="background-color: grey;opacity: 0.2"></div>
            <div class="panel panel-default" style="border: none;">            
                <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                    <div class="row">
                        <button onclick="selectFile()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Choisir un fichier</button> 
                        <button id="btn-register" style="display:none;" onclick="enregistrer_piece()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click" >Valider</button>
                        <button onclick="javascript:window.location.assign('{% url 'module_comptabilite_add_ouverture_compte' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click">Annuler</button>
                    </div>
                    <hr class="hr-ligne">
                    <!-- Appel de la fonction message -->
                        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
                    <br>
                    <form id="form" method="POST" action="{% url 'module_comptabilite_post_upload_ouverture_compte' %}" enctype="multipart/form-data" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
                        novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                        {% csrf_token %}
                        <input id="submit" type="submit" style="display: none">
                        <input type="file" id="input-excel" name="file_upload" style="display:none;"/>
                        <input type="text" id="sheet" name="sheet" style="display:none;"/>
                    </form>
                    <div id="upload_wrapper">                              
                    </div>

                    <div id="bg" class="row no-margin-left no-margin-right" style="padding-top:300px;">
                        <div class="col-md-3 xs-hidden"></div>
                        <div class="col-md-6 col-xs-12">
                            <h3>Choisissez un fichier CSV ou Excel à importer.</h3>  
                            <span class="fg-gray">Les fichiers Excel sont recommandés comme le formatage des champs est automatique. </span>
                        </div>
                        <div class="col-md-3 xs-hidden"></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>   
   

    <script>
        function enregistrer_piece(){
            console.log("Enregistrer Piece");
            document.getElementById('submit').click();
            console.log("canPost");
        }
        function selectFile() {
            $('input[id=input-excel]').click();
        }
    </script>
    <script>
        //Import excel
        $('#input-excel').change(function(e){
            var reader = new FileReader();
            reader.readAsArrayBuffer(e.target.files[0]);
            reader.onload = function(e) {
                var data = new Uint8Array(reader.result);
                var wb = XLSX.read(data,{type:'array'});
                var ws_name = wb.SheetNames[0];
                console.log(ws_name);
                $("#sheet").val(ws_name);
                $("#upload_wrapper").children().remove();
                var sheet = wb.Sheets[ws_name];
                var htmlstr = XLSX.write(wb,{sheet: ws_name, type:'binary',bookType:'html'});
                $('#upload_wrapper')[0].innerHTML += htmlstr;
                $('#upload_wrapper table').addClass("display nowrap border bordered striped");
                $('#bg').css('display', 'none');
                $('#btn-register').css('display', 'inline');
            }
        });
    </script>
{% endblock %}