{% extends "ErpProject/ModuleComptabilite/shared/layout.html" %}
{% block page %}
    {%load static %}
    {% load account_filters %}
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="{% static 'ErpProject/css/printnote30.css' %}" rel="stylesheet">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_comptabilite_tableau_de_bord' %}">Module Comptabilité</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer</button>
        <button id="btn_export" class="theme-btn theme-btn-sm rounded chargement-au-click">Exporter en Excel</button>
    </div>
    <form id="form" method="POST" action="{% url 'module_comptabilite_imprimer_modele_30' %}">
        {% csrf_token %}
        <input id="submit" type="submit" style="display: none">
    </form>
    <div id="rapport3" class="" style="padding: 10px;">
      <table class="tg">
        <colgroup>
          <col style="width: 29%">
          <col style="width: 21%">
          <col style="width: 22%">
          <col style="width: 18%">
          </colgroup>
          <tbody>
            <tr>
              <td class="tg-cnka" colspan="4">NOTE 30 : AUTRES CHARGES ET PRODUITS HAO<br></td>
            </tr>
            <tr>
              <td class="tg-cr4b">Désignation de l'entreprise :</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b">Exercice clos le</td>
              <td class="tg-cr4b">00/01/1900</td>
            </tr>
            <tr>
              <td class="tg-cr4b">SIGLE</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b">Duree(en mois)</td>
              <td class="tg-cr4b">0</td>
            </tr>
            <tr>
              <td class="tg-cr4b">Numéro d'Identification FISCAL :</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
            </tr>
            <tr>
              <td class="tg-0di8">Libellés</td>
              <td class="tg-0di8">Année <br>N</td>
              <td class="tg-0di8">Année <br>N-1</td>
              <td class="tg-0di8">Variation en %</td>
            </tr>
            <tr>
              <td class="tg-1do4">Charges HAO constatées (1) à détailler</td>
              <td class="tg-gmla">5 830 000</td>
              <td class="tg-gmla">5 830 000</td>
              <td class="tg-gmla">0%</td>
            </tr>
            <tr>
              <td class="tg-1do4">(1).....................................................</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">(2).....................................................</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-1do4">Pertes sur créances HAO</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Dons et libéralités accordés</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Abandons de créances consentis</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Charges provisionnées HAO</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Dotations hors activités ordinaires</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Participation des travailleurs</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-x5q1">Subventions d’équilibre</td>
              <td class="tg-lvth">-</td>
              <td class="tg-lvth">-</td>
              <td class="tg-lvth"></td>
            </tr>
            <tr>
              <td class="tg-dvid">SOUS-TOTAL : AUTRES CHARGES HAO</td>
              <td class="tg-eqfb">5 830 000</td>
              <td class="tg-eqfb">5 830 000</td>
              <td class="tg-eqfb">0</td>
            </tr>
            <tr>
              <td class="tg-cey4">Produits HAO constatées (1) à détailler</td>
              <td class="tg-gmla">5 850 500</td>
              <td class="tg-gmla">5 850 500</td>
              <td class="tg-gmla">0%</td>
            </tr>
            <tr>
              <td class="tg-cey4">(1).....................................................</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
            </tr>
            <tr>
              <td class="tg-cey4">(2).....................................................</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Dons et libéralités accordés</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Abandons de créances obtenus</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Transferts de charges HAO</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Reprises des charges pour dépréciations et provisions à court terme HAO</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Reprises hors activités ordinaires</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla"></td>
            </tr>
            <tr>
              <td class="tg-vtwr">SOUS-TOTAL : AUTRES PRODUITS HAO</td>
              <td class="tg-eqfb">5 850 500</td>
              <td class="tg-eqfb">5 850 500</td>
              <td class="tg-eqfb">0</td>
            </tr>
            <tr>
              <td class="tg-4o4u">TOTAL GENERAL</td>
              <td class="tg-wev4">11 680 500</td>
              <td class="tg-wev4">11 680 500</td>
              <td class="tg-wev4">0</td>
            </tr>
            <tr>
              <td class="tg-z0zb" colspan="4">Le commentaire porte  sur :<br></td>
            </tr>
            <tr>
              <td class="tg-fa7u" colspan="4">Toute variation significative<br></td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
    </div>
    {% endblock %}