{% extends "ErpProject/ModuleComptabilite/shared/layout.html" %}
{% block page %}
    {%load static %}
    {% load account_filters %}
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="{% static 'ErpProject/css/printnote17.css' %}" rel="stylesheet">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_comptabilite_tableau_de_bord' %}">Module Comptabilité</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer</button>
        <button id="btn_export" class="theme-btn theme-btn-sm rounded chargement-au-click">Exporter en Excel</button>
    </div>
    <form id="form" method="POST" action="{% url 'module_comptabilite_imprimer_modele_17' %}">
        {% csrf_token %}
        <input id="submit" type="submit" style="display: none">
    </form>
    <div id="rapport3" class="" style="padding: 10px;">
      <table class="tg">
        <colgroup>
          <col style="width: 27%">
          <col style="width: 10%">
          <col style="width: 11%">
          <col style="width: 11%">
          <col style="width: 14%">
          <col style="width: 15%">
          <col style="width: 12%">
          </colgroup>
          <tbody>
            <tr>
              <td class="tg-cnka" colspan="7">NOTE 17 : FOURNISSEURS D’EXPLOITATION<br></td>
            </tr>
            <tr>
              <td class="tg-cr4b">Désignation de l'entreprise :</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b">Exercice clos le</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b">00/01/1900</td>
            </tr>
            <tr>
              <td class="tg-cr4b">SIGLE</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b">Durée (en mois)</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b">0</td>
            </tr>
            <tr>
              <td class="tg-cr4b">Numéro d'Identification FISCAL :</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
            </tr>
            <tr>
              <td class="tg-0di8">Libellés</td>
              <td class="tg-0di8">Année <br>N</td>
              <td class="tg-0di8">Année <br>N-1</td>
              <td class="tg-0di8">Variation <br>en %</td>
              <td class="tg-kf42">Dettes à un an au plus</td>
              <td class="tg-kf42">Dettes à plus d’un an et à deux ans au plus</td>
              <td class="tg-kf42">Dettes à plus de deux ans</td>
            </tr>
            <tr>
              <td class="tg-cey4">Fournisseurs dettes en compte (hors groupe)</td>
              <td class="tg-gmla">45 000 000</td>
              <td class="tg-gmla">45 000 000</td>
              <td class="tg-gmla">0%</td>
              <td class="tg-lvth"></td>
              <td class="tg-lvth">45 000 000</td>
              <td class="tg-lvth"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Fournisseurs effets à payer  (hors groupe)</td>
              <td class="tg-gmla">200 000</td>
              <td class="tg-gmla">200 000</td>
              <td class="tg-gmla">0%</td>
              <td class="tg-lvth"></td>
              <td class="tg-lvth"></td>
              <td class="tg-lvth"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Fournisseurs dettes et effets à payer groupe</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-lvth"></td>
              <td class="tg-lvth"></td>
              <td class="tg-lvth"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Fournisseurs factures non parvenues (hors groupe)</td>
              <td class="tg-gmla">43 934 500</td>
              <td class="tg-gmla">-43 934 500</td>
              <td class="tg-gmla">0%</td>
              <td class="tg-lvth"></td>
              <td class="tg-lvth">43 934 500</td>
              <td class="tg-lvth"></td>
            </tr>
            <tr>
              <td class="tg-cey4">Fournisseurs factures non parvenues groupe</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-gmla">-</td>
              <td class="tg-lvth"></td>
              <td class="tg-lvth"></td>
              <td class="tg-lvth"></td>
            </tr>
            <tr>
              <td class="tg-bn4c">TOTAL FOURNISSEURS</td>
              <td class="tg-kf42">88 934 500</td>
              <td class="tg-kf42">88 934 500</td>
              <td class="tg-kf42">0%</td>
              <td class="tg-bn4c"></td>
              <td class="tg-bn4c">88 934 500</td>
              <td class="tg-bn4c"></td>
            </tr>
            <tr>
              <td class="tg-x5q1">Fournisseurs, avances et acomptes (hors groupe)</td>
              <td class="tg-lvth">-</td>
              <td class="tg-lvth">-</td>
              <td class="tg-lvth"></td>
              <td class="tg-0lax"></td>
              <td class="tg-0lax"></td>
              <td class="tg-0lax"></td>
            </tr>
            <tr>
              <td class="tg-x5q1">Fournisseurs, avances et acomptes groupe</td>
              <td class="tg-lvth">-</td>
              <td class="tg-lvth">-</td>
              <td class="tg-lvth"></td>
              <td class="tg-0lax"></td>
              <td class="tg-0lax"></td>
              <td class="tg-0lax"></td>
            </tr>
            <tr>
              <td class="tg-x5q1">Autres fournisseurs débiteurs</td>
              <td class="tg-lvth">-</td>
              <td class="tg-lvth">-</td>
              <td class="tg-lvth"></td>
              <td class="tg-0lax"></td>
              <td class="tg-0lax"></td>
              <td class="tg-0lax"></td>
            </tr>
            <tr>
              <td class="tg-bn4c">TOTAL FOURNISSEURS DEBITEURS</td>
              <td class="tg-kf42"></td>
              <td class="tg-kf42"></td>
              <td class="tg-kf42"></td>
              <td class="tg-y6fn"></td>
              <td class="tg-y6fn"></td>
              <td class="tg-y6fn"></td>
            </tr>
            <tr>
              <td class="tg-z0zb" colspan="7">Commentaires :<br></td>
            </tr>
            <tr>
              <td class="tg-fa7u" colspan="7">Toutes variations significatives, indication des dettes du groupe le nom de la société du groupe et le % de titres détenus ; les dettes anciennes.<br></td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
    </div>
    {% endblock %}