{% extends "ErpProject/ModuleComptabilite/shared/layout.html" %}
{% block page %}
    {%load static %}
    {% load account_filters %}
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="{% static 'ErpProject/css/printnote16B.css' %}" rel="stylesheet">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_comptabilite_tableau_de_bord' %}">Module Comptabilité</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer</button>
        <button id="btn_export" class="theme-btn theme-btn-sm rounded chargement-au-click">Exporter en Excel</button>
    </div>
    <form id="form" method="POST" action="{% url 'module_comptabilite_imprimer_modele_16C' %}">
        {% csrf_token %}
        <input id="submit" type="submit" style="display: none">
    </form>
    <div id="rapport3" class="" style="padding: 10px;">
      <table class="tg">
        <colgroup>
          <col style="width: 45%">
          <col style="width: 13%">
          <col style="width: 16%">
          <col style="width: 13%">
          <col style="width: 13%">
          </colgroup>
          <tbody>
            <tr>
              <td class="tg-nqil" colspan="5">NOTE 16B : ENGAGEMENT DE RETRAITE ET AVANTAGES ASSIMILES</td>
            </tr>
            <tr>
              <td class="tg-cr4b">Désignation de l'entreprise :</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b">Exercice clos&nbsp;&nbsp;le</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b">00/01/1900</td>
            </tr>
            <tr>
              <td class="tg-cr4b">SIGLE :</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b">Durée (en mois) :</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b">0</td>
            </tr>
            <tr>
              <td class="tg-cr4b">Numéro d'Identification FISCAL :</td>
              <td class="tg-cr4b">0</td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
              <td class="tg-cr4b"></td>
            </tr>
            <tr>
              <td class="tg-kf42" colspan="5">HYPOTHESES ACTUARIELLES</td>
            </tr>
            <tr>
              <td class="tg-joa2" colspan="3">Libellés</td>
              <td class="tg-joa2">Année N</td>
              <td class="tg-joa2">Année N-1</td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Taux d'augmentation des salaires</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Taux d'actualisation</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Taux d'inflation</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Probabilité d'être présent dans l'entité à la date de départ à la retraite (expérience passée)</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Probabilité d'être en vue à l'âge de départ à la retraite (table de moralité)</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Taux de rendement effectif des actifs du régime</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-cr4b" colspan="5">Commentaire :</td>
            </tr>
            <tr>
              <td class="tg-czno" colspan="5">Les variations d'hypothèses actuarielles utilisées pour le calcul des engagements de retraite et avantages assimilés</td>
            </tr>
            <tr>
              <td class="tg-kf42" colspan="5">VARIATION DE LA VALEUR DE L'ENGAGEMENT DE RETRAITE AU COURS DE L'EXERCICE</td>
            </tr>
            <tr>
              <td class="tg-q7e8" colspan="3">Libellés</td>
              <td class="tg-h2g2">Année N</td>
              <td class="tg-h2g2">Année N-1</td>
            </tr>
            <tr>
              <td class="tg-bn4c" colspan="3">Obligation au titre des engagements de retraite à l'ouverture</td>
              <td class="tg-bn4c"></td>
              <td class="tg-bn4c"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Coûts des services rendus au cours de l'exercice</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Coût financier</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Pertes actuarielles /(gain)</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Prestations payées</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1" colspan="3">Obligation au titre des engagements de retraite à la cloture</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-cr4b" colspan="5">Commentaire :</td>
            </tr>
            <tr>
              <td class="tg-czno" colspan="5">L'indication du montant de la charge par nature comptabilisée au cours de l'exercice.</td>
            </tr>
            <tr>
              <td class="tg-kf42" colspan="5">ANALYSE SENSIBILITE DES HYPOTHESES ACTUARIELLES</td>
            </tr>
            <tr>
              <td class="tg-q7e8">Libellés</td>
              <td class="tg-h2g2" colspan="2">Année N</td>
              <td class="tg-h2g2" colspan="2">Année N-1</td>
            </tr>
            <tr>
              <td class="tg-kf42"></td>
              <td class="tg-kf42">Augmentation</td>
              <td class="tg-kf42">Diminution</td>
              <td class="tg-kf42">Augmentation</td>
              <td class="tg-kf42">Diminution</td>
            </tr>
            <tr>
              <td class="tg-x5q1">Taux d'actualisation (variation de ...%)</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1">Taux de progression des salaires&nbsp;&nbsp;(variation de?.%)</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-x5q1">Taux de départ du personnel ((variation de?.%)</td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
              <td class="tg-x5q1"></td>
            </tr>
            <tr>
              <td class="tg-cr4b" colspan="5">Commentaire :</td>
            </tr>
            <tr>
              <td class="tg-czno" colspan="5">L'indication l'impact des variations obtenues sur le montant des engagements de retraite.</td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
    </div>
    {% endblock %}