
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ title }}">
        <meta name="author" content="MelodyERP">
    </head>
    {%load static %}{% load account_filters %}{% load humanize %}

    <body>
        <div id="report">
            <h2 class="align-center header">{{ title }}</h2>
            <span class="date-text">Le {% now " d/m/Y" %}</span>
            <div class="row">
                <div class="col-md-6">
                    <p>Désignation :<br>
                        <span class="sub-alt-header">{{ model.designation }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Nombre de jours :<br>
                        <span class="sub-alt-header">{{ model.value_nb_jours }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Type action :<br>
                        <span class="sub-alt-header">{{ model.value_type_action }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Scénarios de relance :<br>
                        {% if model.scenario is None %}
                        <span class="sub-alt-header"> - </span>
                        {% else %}
                        <span class="sub-alt-header">{{ model.scenario }}</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6">
                    <label class="input-control checkbox small-check full-size">
                        <input name="est_automatique" id="est_automatique"  {% if model.est_automatique is True %}{{ "checked" }}{% endif %} type="checkbox" disabled="disabled">
                        <span class="check"></span>
                        <span class="caption">Relance automatique</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <p>Description :<br>
                        <span class="sub-alt-header">{{ model.description }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Sujet :<br>
                        <span class="sub-alt-header">{{ model.sujet }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Message :<br>
                        <span class="sub-alt-header">{{ model.message }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>Langue :<br>
                        <span class="sub-alt-header">{{ model.langue }}</span>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
