{% extends "ErpProject/ModuleInventaire/shared/layout.html" %}
{% block page %}
	{% load inventaire_filter %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a><span class="mif-home"></span></a></li>
            <li><a class="leaf" href="{% url 'module_inventaire_tableau_de_bord' %}">Module Inventaire</a></li>
            <li><a class="leaf" href="{% url 'module_inventaire_list_bon_inventaire' %}">Ajustements de stock</a></li>
            <li><a class="leaf" href="{% url 'module_inventaire_add_bon_inventaire' %}">Nouvel inventaire</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>{{ title }}</h2>
            <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
            <div class="separ" style="background-color: grey;opacity: 0.2"></div>
            <div class="panel panel-default" style="border: none;">

                <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                    <div class="row">
                        <button onclick="javascript:valider_inventaire()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} leaf">Valider</button>
                        <button onclick="javascript:window.location.assign('{% url 'module_inventaire_add_bon_inventaire' %}')" class="theme-btn theme-btn-sm rounded leaf" style="margin-left: 5px">Annuler</button>
                    </div>
                    <br>
                    <hr class="hr-ligne">
                    <!-- Appel de la fonction message -->
                        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
                    <br>


                    <form id="form" method="POST" action="{% url 'module_inventaire_post_add_bon_inventaire' %}"
                    enctype="multipart/form-data"
                    data-role="validator"
                    data-show-required-state="false"
                    data-hint-mode="line"
                    data-hint-background="bg-red"
                    data-hint-color="fg-white"
                    data-hide-error="5000"
                    novalidate="novalidate"
                    data-on-error-input="notifyOnErrorInput"
                    data-show-error-hint="false"
                    >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <p class="fg-gray">
                                    Référence de l'inventaire :<br>
                                    <span id="numero" class="fg-dark"></span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="fg-gray">
                                    Document externe :<br>
                                    <span id="reference_document" class="fg-dark"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="fg-gray">
                                    Emplacement inventorié :<br>
                                    <span class="fg-dark"> {{ emplacement.designation }} </span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="fg-gray">
                                    Date d'inventaire :<br>
                                    <span id="date_realisation"class="fg-dark"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="fg-gray">
                                    Inventaire de :<br>
                                    <span id="inventaire_de" class="fg-dark"> </span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p id="p_article_id" class="fg-gray">
                                    Article inventorié :<br>
                                    <span id="article_id" class="fg-dark"></span>
                                </p>
                                <p id="p_categorie_id" class="fg-gray">
                                    Catégorie inventoriée :<br>
                                    <span id="categorie_id" class="fg-dark"> </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table border bordered">
                                <thead>
                                    <tr>
                                        {% if inventaire_de == 3 %}
                                            <th width="25%">Article</th>
                                            <th width="18%">Emplacement</th>
                                            <th width="16%">Quantité théorique</th>
                                            <th width="16%">Quantité réelle</th>
                                            <th width="5%"></th>
                                        {% else %}
                                            <th width="25%">Article</th>
                                            <th width="18%">Emplacement</th>
                                            <th width="18%">Quantité théorique</th>
                                            <th width="19%">Quantité réelle</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody id="items">
                                {% if inventaire_de == 3 %}
                                    <tr id="ligne1">
                                        <td class="no-padding-top no-padding-left no-padding-bottom">
                                            <input id="id1" type="hidden" value="0" />
                                            <div class="input-control select full-size">
                                                <select onchange="selectChange(event)" id="item1"
                                                    data-validate-func="min"
                                                    data-validate-arg="1"
                                                    data-validate-hint="Sélectionnez un article svp">
                                                    <option value="0">Sélectionnez un article</option>
                                                    {% for item in categories %}
                                                        <optgroup label="{{ item.designation }}">
                                                            {% for article in articles %}
                                                                {% if article.categorie_id == item.id %}
                                                                    <option value="{{ article.id }}">{{ article.designation }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </optgroup>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                        <td id="colonne-emplacement1" class="no-padding-top no-padding-bottom">
                                        </td>
                                        <td id="colonne-qte-theorique1" class="no-padding-top no-padding-bottom">
                                        </td>
                                        <td class="no-padding-top no-padding-bottom">
                                            <div class="input-control text full-size">
                                                <input name="quantite_fournie" type="text" placeholder="Ex: 10"
                                                    data-validate-func="number"
                                                    data-validate-hint="Précisez la quantité réelle svp">
                                                <!--span class="prepend-icon" style="margin-left:75%">
                                                    <span style="margin-top: 1px;" class="sub-header place-right devise">{{ ligne.unite.symbole_unite }}</span>
                                                </span-->
                                            </div>
                                        </td>
                                        <td class="no-padding-top no-padding-bottom">
                                            <div class="pagination ">
                                                <span class="item" title="Supprimer la ligne" onclick="supprimerLigne(1)"><span class="mif-cross fg-red"></span></span>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    {% for ligne in articles %}
                                        <tr id="ligne{{ligne.id}}" class="table bordered border">
                                            <td>{{ ligne.designation}}</td>
                                            <td>{{ emplacement.designation }}</td>
                                            <td>{{ ligne|qte_stock_of_empl:emplacement.id }}</td>
                                            <td class="no-padding-top no-padding-bottom">
                                                <div class="input-control text full-size">
                                                    <input name="quantite_fournie" type="text" placeholder="Ex: 100"
                                                        data-validate-func="required"
                                                        data-validate-hint="Précisez la quantité réelle svp">
                                                    <!--span class="prepend-icon" style="margin-left:75%">
                                                        <span style="margin-top: 1px;" class="sub-header place-right devise">{{ ligne.unite.symbole_unite }}</span>
                                                    </span-->
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% if inventaire_de == 3 %}
                            <div class="row margin10 no-margin-left no-margin-right">
                                <button type="button" class="button small-button rounded" id="btnAjouterLigne">Ajouter une ligne</button>
                            </div>
                        {% endif %}
                        <input id="submit" type="submit" style="display: none">
                        <input type="hidden" name="numero_inventaire" id="input_numero">
                        <input type="hidden" name="categorie_id" id="input_categorie_id">
                        <input type="hidden" name="emplacement_id" value="{{ emplacement.id }}">
                        <input type="hidden" name="date_inventaire" id="input_date_realisation">
                        <input type="hidden" name="reference_document" id="input_reference_document">
                        {% if inventaire_de != 3 %}
                            {% for ligne in articles %}
                                <input type="hidden" name="article_id" value="{{ ligne.id }}" >
                                <input type="hidden" name="quantite_demandee" value="{{ ligne|qte_stock_of_empl:emplacement.id }}" >
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/ErpProject/js/inventaire-local.js"></script>

	<script>
		var bon  = inventaireLocal.avoirInventaire();
		if( bon.inventaire_de == 3 ){
			var lesCategories = new Array();
			var lesArticles = new Array();

			{% for item in categories %}
				lesCategories.push({id:"{{ item.id }}", designation:"{{ item.designation }}"});
			{% endfor %}

			{% for item in articles %}
				lesArticles.push({id:"{{ item.id }}", designation:"{{ item.designation }}", categorie_id:"{{ item.categorie_id }}"});
			{% endfor %}
		}
    </script>
    <script>
		var nombreLignes = 1;
        var nombreItems = 0;
        var ligneActuelle = 0;
        var compteur = 1;

        $(document).ready(function(){
            var totalBon = 0;
            var bon  = inventaireLocal.avoirInventaire();

            $("#date_realisation").text(bon.date_realisation);
            $("#input_date_realisation").val(bon.date_realisation);


            $("#numero").text(bon.numero);
            $("#input_numero").val(bon.numero);

            if(bon.reference_document.length == 0) $("#reference_document").text("-");
            else
            {
                $("#reference_document").text(bon.reference_document);
                $("#input_reference_document").val(bon.reference_document);
            }

			if (bon.inventaire_de == 0){
				$("#inventaire_de").text("Tous les articles");
				$("#p_article_id").hide();
				$("#p_categorie_id").hide();
			}else if (bon.inventaire_de == 1){
				var categorie = "{{ categorie.designation }}"
				$("#inventaire_de").text("Une catégorie d'articles");
                $("#categorie_id").text(categorie);
				$("#p_article_id").hide();
			}else if (bon.inventaire_de == 2) {
				var article = "{{ article.designation }}"
				$("#inventaire_de").text("Un article seulement");
				$("#article_id").text(article);
				$("#p_categorie_id").hide();
			} else if (bon.inventaire_de == 3) {
				$("#inventaire_de").text("Sélection manuelle d'articles");
				$("#p_article_id").hide();
				$("#p_categorie_id").hide();
			} else {
				$("#inventaire_de").text("Tous les articles");
				$("#p_article_id").hide();
				$("#p_categorie_id").hide();
			}
        });

		$("#btnAjouterLigne").on("click", function () {
            nombreLignes++;
            compteur++;
            var nouvelleLigne = '<tr id="ligne' + compteur + '"><td class="no-padding-top no-padding-left no-padding-bottom">';
            nouvelleLigne += '<input id="id' + compteur + '" type="hidden" value="0" />';
			nouvelleLigne += '<div class="input-control select full-size">'
            nouvelleLigne += '<select onchange="selectChange(event)" id="item' + compteur + '" data-validate-func="min"';
            nouvelleLigne += ' data-validate-arg="1" data-validate-hint="Sélectionnez un article"><option value="0">Sélectionnez un article</option>';
            nouvelleLigne += renvoyerOptionsArticles();
            nouvelleLigne += '</select></div></td>';
			nouvelleLigne += '<td id="colonne-emplacement' + compteur + '" class="no-padding-top no-padding-bottom"></td>';
			nouvelleLigne += '<td id="colonne-qte-theorique' + compteur + '" class="no-padding-top no-padding-bottom"></td>';
            nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="input-control text full-size">';
            nouvelleLigne += '<input id="quantite_fournie' + compteur + '" data-validate-func="number" ';
            nouvelleLigne += ' data-validate-arg="1" data-validate-hint="Précisez la quantité réelle svp" type="text" placeholder="Ex: 10">';
            //nouvelleLigne += '<span class="prepend-icon" style="margin-left:75%">';
            //nouvelleLigne += '<span style="margin-top: 1px;" id="unite' + compteur + '" class="sub-header place-right"></span></span>';
            nouvelleLigne += '</div></td>';
            nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="pagination no-border">';
            nouvelleLigne += '<span class="item" title="Supprimer la ligne" onclick="supprimerLigne(' + compteur + ')"><span class="mif-cross fg-red"></span></span>';
            nouvelleLigne += '</div></td></tr>';

            $("#items").append(nouvelleLigne);
        });

        function selectChange(event)
        {
            $select = $(event.target);
            var id_element = $select[0].id; //window.location.assign(""); //window.location.reload(true)
            console.log("ID ELEMENT : " + id_element);
            if(id_element.substring(0, 4) == "item")
            {
                ligneActuelle = $select[0].id.substr($select[0].name.length - 1, 1);

                if($("#" + id_element).val() != "0")
                {
                    nombreItems += 1;
                    var idArticle = parseInt($("#" + id_element).val());
                    console.log("ID ARTICLE : " + idArticle);
                    $.get(
                        "{% url 'module_inventaire_article_of_emplacement' %}",
                        {ref : idArticle, ref_emplacement : "{{ emplacement.id }}"},
                        function(data)
                        {
                            if(data != null)
                            {
                                $("#colonne-qte-theorique" + ligneActuelle).text(data.quantite_theorique);
                                $("#colonne-emplacement" + ligneActuelle).text("{{ emplacement.designation }}");
                            }
                        },
                        "json"
                    );
                }
                else nombreItems -= 1;
            }
        }

		function supprimerLigne(indice) {
            nombreLignes--;
            if($("#id" + indice).val() != "0")
            {
                inventaireLocal.supprimerLigne($("#id" + indice).val());
            }
            $("#ligne" + indice).remove();
        }

		function valider_inventaire(){
            var canPost = true;
            var bon  = inventaireLocal.avoirInventaire();

            console.log("Equilibre", bon);

			if (bon.inventaire_de == 3) {
				for(var i = 1; i <= compteur; i++)
				{
					var ligneInventaire = document.getElementById("item" + i);
					if(ligneInventaire != null)
					{
						var quantite_demandee = 0;
						var quantite_fournie = 0;
						var article_id = 0;

						if($("#item" + i).val() != "0"){
							article_id = $("#item" + i).val();
							quantite_demandee = $("#colonne-qte-theorique" + i).text();
							quantite_fournie = $("#quantite_fournie" + i).val();

							var input_article_id = '<input type="hidden" name="article_id" value="' + article_id + '" >';
							$("#form").append(input_article_id);
							var input_quantite_demandee = '<input type="hidden" name="quantite_demandee" value="' + quantite_demandee + '" >';
							$("#form").append(input_quantite_demandee);
							var input_quantite_fournie = '<input type="hidden" name="quantite_fournie" value="' + quantite_fournie + '" >';
							$("#form").append(input_quantite_fournie);

						}else{
							canPost = false;
							break;
						}
					}
				}
			}
			if(canPost == true)
			{
				//alert("canPost");
				document.getElementById('submit').click();
			}
        }

		function renvoyerOptionsArticles()
        {
            var ligne = "";
            var hasArticle = "0";
            for(var i = 0; i < lesCategories.length; i++)
            {
                var categorie = lesCategories[i];
                for(var j = 0; j < lesArticles.length; j++)
                {
                    var article = lesArticles[j];
                    if(article.categorie_id == categorie.id)
                    {
                        hasArticle = "1";
                        break;
                    }
                }
                if(hasArticle == "1")
                {
                    ligne += '<optgroup label="' + categorie.designation + '">';
                    for(var j = 0; j < lesArticles.length; j++)
                    {
                        var article = lesArticles[j];
                        if(article.categorie_id == categorie.id)
                        {
                            ligne += '<option value="' + article.id + '">' + article.designation + '</option>';
                        }
                    }
                    ligne += '</optgroup>';
                }
            }
            return ligne;
        }
    </script>
{% endblock %}