{% extends "ErpProject/ModuleControle/shared/layout.html" %}
{% block page %}
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_controle_tableau' %}">Module Controle</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <h2 class="text-light no-margin-left">{{ title }}</h2>
    </div>
        
    <div class="row">
        <div class="col-md-2">
            {% include 'ErpProject/ErpBackOffice/widget/submitButton.html' with  id="btnSubmit"  val="Valider" %}
        </div>
        <div class="col-md-2">
            <button style="width: 100%;" onclick="javascript:window.location.assign('{% url 'module_controle_tableau' %}')" class="theme-btn theme-btn-sm rounded">
                Annuler 
            </button>
        </div>
    </div> 
    
    <hr class="hr-ligne">
    <!-- Appel de la fonction message -->
        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
    <br>
    
    
    <div class="row item-content" style="margin-top: 10px">
        <form id="form" method="POST" action="{% url 'module_controle_post_generer_balance_tiers' %}"
            data-role="validator" 
            data-show-required-state="false"
            data-hint-mode="line"
            data-hint-background="bg-red"
            data-hint-color="fg-white"
            data-hide-error="5000"
            novalidate="novalidate"
            data-on-error-input="notifyOnErrorInput"
            data-show-error-hint="false">
            {% csrf_token %}
            <input id="submit" type="submit" style="display: none">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date de début :</label>
                            <div id="input-date-debut" class="input-control text full-size"  data-format="dd/mm/yyyy" data-role="datepicker" data-locale="fr">
                                <input readonly type="text" name="date_debut" id="date_debut" readonly
                                    data-validate-func="required" 
                                    data-validate-hint="Précisez la date de début svp.">
                                <div class="button"><span class="mif-calendar"></span></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Date de fin :</label>
                            <div id="input-date-fin" class="input-control text full-size"  data-format="dd/mm/yyyy" data-role="datepicker" data-locale="fr">
                                <input readonly type="text" name="date_fin" id="date_fin" readonly
                                    data-validate-func="required" 
                                    data-validate-hint="Précisez la date de fin svp.">
                                <div class="button"><span class="mif-calendar"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Devise :</label>
                            <div class="input-control select full-size">
                                <select name="devise_id" id="devise_id" 
                                    data-validate-func="min" 
                                    data-validate-arg="1"
                                    data-validate-hint="Sélectionnez la devise svp.">
                                    <option value="0">Sélectionnez une devise</option>
                                    {% for item in devises %}
                                        <option value="{{ item.id }}"> {{ item.designation }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Type :</label>
                            <div class="input-control select full-size">
                                <select name="tiers" id="tiers" 
                                    data-validate-func="min" 
                                    data-validate-arg="1"
                                    data-validate-hint="Sélectionnez le type svp.">
                                    <option value="0">Sélectionnez un type</option>
                                    <option value="1">Client</option>
                                    <option value="2">Fournisseur</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>       
    </div>
{% endblock %}