<!DOCTYPE html>
<html style="height: 100%; background-color: #efefef;">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>{{ title }}</title>
    {%load static %}

    <link rel="shortcut icon" href="{% static 'ErpProject/image/logo_arpce.png' %}">

    <link href="{% static 'ErpProject/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ErpProject/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'ErpProject/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'ErpProject/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'ErpProject/css/metro.css' %}">
    <link rel="stylesheet" href="{% static 'ErpProject/css/metro-icons.css' %}">
    <link rel="stylesheet" href="{% static 'ErpProject/css/metro-schemes.css' %}">
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <header class="app-bar red" data-role="appbar" style="padding:0 10px">
            <div class="app-bar-divider only-on-small-screen"></div>
            <div class="app-bar-divider only-on-small-screen"></div>
            <a href="/" class="app-bar-element branding only-on-large-screen chargement-au-click">
                <img src="{% static organisation.image %}" style="height: 40px; display: inline-block; margin-right: 10px;">
            </a>
            <div class="app-bar-divider only-on-large-screen"></div>
            <ul class="app-bar-menu">
                {% for item in modules %}
                <li class="active_{% if module.value == item.numero_ordre %}{{ module.name|lower }}{% endif %}  chargement-au-click" style="/*padding-bottom:11px;*/">
                    <a class="{% if module.value == item.numero_ordre %}{{ " active " }}{% endif %}  chargement-au-click" href="/{{ item.url_vers }}">{{ item.nom_module }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="app-bar-element place-right">
                <a class="dropdown-toggle fg-gray header_user" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{ utilisateur.nom_complet }}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu d-menu place-right">
                    <li><a href="{% url 'backoffice_change_password' %}"><i class="fa fa-user fa-fw"></i> Profil d'utilisateur</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Paramètres</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'backoffice_deconnexion' %}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                    </li>
                </ul>
            </div>
        </header>

        <!-- Contenu personalisé   INFO: Le menu latéral et le corp de la page se trouve dans le layout de chaque module dans le dossier shared-->
        {% block content %}{% endblock %}
        <!-- /.Contenu personalisé -->


        <section class="section-projets col-lg-12" style="margin-top: -5px;">
            <div class="container">
                <!--div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumbs2 small">
                            <li><a><span class="mif-home"></span></a></li>
                            <li><a class="chargement-au-click" href="{% url 'module_application_list_applications' %}">Module Application</a></li>
                            <li><a class="chargement-au-click" href="{% url 'module_application_list_applications' %}">Liste des applications</a></li>
                            <li>{{ title }}</li>
                        </ul>
                    </div>
                </div-->
                <br><br>
                <br>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{ model.nom_module }}</h2>
                        <strong style="float: right;color:grey;opacity: 0.85;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
                        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

                        <div class="panel panel-default" style="border: none;margin-top:1rem; padding:1rem;">
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if model.est_installe %}
                                    <button class="button small-button rounded alert chargement-au-click" onclick="javascript:window.location.assign('{% url 'module_application_desinstaller_application' model.id %}')">
                                                Desinstaller le module
                                            </button> {% else %}
                                    <button class="button small-button rounded primary_color_{{module.name|lower}} chargement-au-click" onclick="javascript:window.location.assign('{% url 'module_application_installer_application' model.id %}')">
                                            Installer le module
                                        </button> {% endif%}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="fg-gray minor-header" style="margin-top:1rem ">
                                        Description :
                                        <br>
                                        <br>
                                        <span class="fg-dark sub-header">{{ model.description }}</span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

        </section>

        <div id="chargement" data-role="dialog" class="padding20 dialog fg-white" data-close-button="false" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="false" style="max-width: 300px; visibility: hidden; background-color: transparent;">
            <div data-role="preloader" data-type="ring" style="margin: auto"></div>
        </div>

        <script src="{% static 'ErpProject/js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'ErpProject/js/metro.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/metisMenu.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script>
            function showDialog(id) {
                var dialog = $("#" + id).data('dialog');
                if (!dialog.element.data('opened')) dialog.open();
                else dialog.close();
            }

            function notifyOnErrorInput(input) {
                var message = input.data('validateHint');
                $.Notify({
                    caption: 'Error',
                    content: message,
                    type: 'alert'
                });
            }

            function showCharm(id) {
                var charm = $("#" + id).data("charm");
                if (charm.element.data("opened") === true) {
                    charm.close();
                    $("#btn-menu").removeClass("active");
                } else {
                    charm.open();
                    $("#btn-menu").addClass("active");
                }
            }
            $(document).on("click", function(event) {
                var element = event.target;

                if (element.id.length == 0 || (element.id != "btn-menu" && element.id != "span-menu")) {
                    var charm = $("#menu").data("charm");
                    if (charm.element.data("opened") === true) {
                        charm.close();
                        $("#btn-menu").removeClass("active");
                    }
                }
            });

            $("#toggle-tiles-dropdown").on("click", function(event) {
                var charm = $("#menu").data("charm");
                if (charm.element.data("opened") === true) {
                    charm.close();
                    $("#btn-menu").removeClass("active");
                }
            });
            window.addEventListener("hashchange", function(e) {
                console.log(window.status);
                console.log(e);
            })
        </script>
        <script>
            // Item menu lien vers autre pages
            $(function() {
                $('.item-menu-click').on('click', function(e) {
                    location.assign(location.origin + '/' + $(e.currentTarget).attr('href'));
                });
            })
        </script>
</body>

</html>