{% extends "ErpProject/ModuleRessourcesHumaines/shared/layout.html" %}
{% block page %}
<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_rh_tableau_de_bord' %}">Module Ressources Humaines</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_ressourceshumaines_list_recrutement_interne' %}">Liste des récrutements internes</a></li>
        <li>{{ title }}</li>
    </ul>
</div>
{% include 'ErpProject/ErpBackOffice/widget/workflow.html' with utilisateur=utilisateur model=model content_type_id=content_type_id historique=historique roles=roles etapes_suivantes=etapes_suivantes url_add="module_ressourceshumaines_add_recrutement_interne" url_detail="module_ressourceshumaines_detail_recrutement_interne" csrf_token=csrf_token module=module type_doc="" only %}

<div class="row">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>

        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">

            <div class="row only-on-small-screen">
                    <h2 class="text-light no-margin-left">{{ title }}</h2>
                </div>


                <div class="row only-on-large-screen">
                    <button onclick="javascript:window.location.assign('{% url 'module_ressourceshumaines_update_recrutement_interne' recrutement_interne.id %}')"  class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" style="width: 20%;">
                        Modifier
                    </button>
                    <button onclick="javascript:window.location.assign('{% url 'module_ressourceshumaines_list_recrutement_interne' %}')"  class="theme-btn theme-btn-sm rounded " style="width: 20%;margin-left: 5px">Annuler</button>
                </div>
                <div class="row only-on-small-screen">
                    <button onclick="javascript:window.location.assign('{% url 'module_ressourceshumaines_update_recrutement_interne' recrutement_interne.id %}')" class="button large-button rounded primary">Valider</button>
                    <button onclick="javascript:window.location.assign('{% url 'module_ressourceshumaines_list_recrutement_interne' %}')" class="button large-button rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                </div>

                <hr class="hr-ligne">



                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row padding20 no-padding-top no-padding-bottom" style="border-right: 1px solid #f7f5f5;">
                                    <p>

            Désignation :
                    <br>
                    <span class="sub-alt-header">{{ recrutement_interne.designation }}</span>
                    <br>
                    <br>

            Description :
                    <br>
                    <span class="sub-alt-header">{{ recrutement_interne.description }}</span>
                    <br>
                    <br>

            Date de début :
                    <br>
                    <span class="sub-alt-header">{{ recrutement_interne.date_debut|date:"d/m/Y" }}</span>
                    <br>
                    <br>

            Date de fin :
                    <br>
                    <span class="sub-alt-header">{{ recrutement_interne.date_fin|date:"d/m/Y" }}</span>
                    <br>
                    <br>

            Etat d'avancement
                    <br>
                    {% if item.est_fini %}
                    <strong></strong><span  class="sub-alt-header" style="color: red;"> Période de récrutement dépassé </span></strong>
                    {% else %}
                    <strong><span  class="sub-alt-header" style="color: green;"> En cours... </span></strong>
                    {% endif %}
                    <br>
                    <br>

            Service concerné :
                    <br>
                    <span class="sub-alt-header">{{ recrutement_interne.service.libelle }}</span>
                    <br>
                    <br>

        </p>
                                </div>
                            </div>
                        </div>

           {% endblock %}}