{% extends "ErpProject/ModuleVente/shared/layout.html" %}
    {% block page %}
        {%load static %}
        {% load account_filters %}
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
                <li><a class="chargement-au-click" href="{% url 'module_vente_tableau_de_bord' %}">Module Vente</a></li>
                <li>{{ title }}</li>
            </ul>
        </div>
        <div class="row">
            <button onclick="javascript:document.getElementById('submit_print').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer</button>
            <button id="btn_export" class="theme-btn theme-btn-sm rounded chargement-au-click">Exporter en Excel</button>
            <!-- Button dropdown -->
            <button class="theme-btn-dropdown dropdown theme-btn theme-btn-sm rounded chargement-au-click" >
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="far fa-calendar-alt"></i> à la date du {{ date_fin }} <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" class="dropdown-item"> Personnalisé</a></li>
                    <li class="col-md-12">
                        <form id="form" method="POST" action="{% url 'module_vente_post_generer_extrait_compte' %}"
                            data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000" novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                            {% csrf_token %}
                            <input id="submit" type="submit" style="display: none">
                            <input id="client_id" name="client_id" value="{{client.id}}" style="display: none">
                            <label>Date de fin :</label>
                            <div id="input-date-fin" class="input-control text full-size"  data-format="dd/mm/yyyy" data-role="datepicker" data-locale="fr">
                                <input readonly type="text" name="date_fin" id="date_fin" readonly
                                    data-validate-func="required"
                                    data-validate-hint="Précisez la date de fin svp.">
                                <div class="button"><span class="mif-calendar"></span></div>
                            </div>
                        </form>
                    </li>
                    <li class="divider"></li>
                    <li class="col-md-12">
                        <div onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Appliquer</div>
                    </li>
                </ul>
            </button>
            <!-- /.Button dropdown -->
            <button onclick="javascript:window.location.assign('{% url 'module_vente_generer_extrait_compte' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click">Retour</button>
        </div>
        <form id="form" method="POST" action="{% url 'module_vente_post_imprimer_extrait_compte' %}">
            {% csrf_token %}
            <input id="submit_print" type="submit" style="display: none">
            <input type="text" name="date_fin" value="{{ date_fin }}" style="display: none">
            <input type="number" name="devise_id" value="{{ devise.id }}" style="display: none">
            <input type="number" name="client_id" value="{{ client.id }}" style="display: none">
        </form>
        <hr class="hr-ligne">
        <div id="divToPrint" class="row item-content" style="margin-top: 20px" style="padding-top: 30px">
            <p class="align-center header">{{ title }}</p>
            <div class="row">
                <p>
                    A la date du :<br>
                    <span class="sub-header">{{ date_fin }}</span>
                    <br>
                    <br>
                    Devise :<br>
                    <span class="sub-header">{{ devise.designation }}</span>
                </p>
            </div>
            <br>
            <br>
            <table id="rapport" class="table bordered no-margin" style="width: 100%">
                <tr style="background-color:#91a7c3;color:#fff!important;font-weight:500">
                    <td width="12%" colspan="2">Date facture</td>
                    <td width="20%">Libellé de la facture</td>
                    <td width="8%">Numéro</td>
                    <td width="12%">Montant</td>
                    <td width="12%">Reglèment</td>
                    <td width="12%">Date de paiement</td>
                    <td width="12%">Type de paiement</td>
                    <td width="12%">Solde</td>
                </tr>
                {% for facture in factures %}
                    <tr class="tr-toggle" style="background-color:#f1f1f1;font-weight:700!important;" data-toggle="collapse" data-target=".paiement{{ facture.id }}" daria-expanded="false">
                        <td width="2%"><i class="fa fa-caret-right"></i></td>
                        <td width="10%">{{ facture.date_facturation|date:"d/m/Y" }}</td>
                        <td width="20%">
                            <a class="lien chargement-au-click" href="{% url 'module_comptabilite_details_facture_client' facture.id %}">{{ facture.numero_facture }}</a>
                        </td>
                        <td width="8%">{{ facture.numero_facture }}</td>
                        <td width="12%" style="text-align: right" width="12%">{{ facture.montant|monetary }} </td>
                        <td width="12%" style="text-align: right" width="12%">{{ facture.montant_paye|monetary }} </td>
                        <td width="12%" style="text-align: right" width="12%"></td>
                        <td width="12%" style="text-align: right" width="12%"></td>
                        <td width="12%" style="text-align: right" width="12%">{{ facture.montant_restant|monetary }}</td>
                    </tr>
                    {% for paiement in paiements %}
                        {% if paiement.facture_id == facture.id %}
                            <tr class="collapse paiement{{ facture.id }}">
                                <td colspan="5">
                                    <a class="lien chargement-au-click" href="{% url paiement.url paiement.id %}">{{ paiement.libelle }}</a>
                                </td>
                                <td style="text-align: right" width="12%">{{ paiement.montant|monetary }} </td>
                                <td style="text-align: right" width="12%">{{ paiement.date|date:"d/m/Y" }} </td>
                                <td style="text-align: right" width="12%">{{ paiement.type }} </td>
                                <td style="text-align: right" width="12%"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <td style="text-align: left" colspan="4">Total</td>
                    <td style="text-align: right" width="12%">{{ total_montant|monetary }} </td>
                    <td style="text-align: right" width="12%">{{ total_montant_paye|monetary }} </td>
                    <td style="text-align: right" width="12%"></td>
                    <td style="text-align: right" width="12%"></td>
                    <td style="text-align: right" width="12%">{{ total_solde|monetary }}</td>
                </tr>
                <tr style="background-color:#7c984a;color:#fff!important;">
                    <th style="text-align: left" colspan="8">SOLDE (+Débiteur/-Crediteur)</th>
                    <th style="text-align: right">{{ total_montant_solde|monetary }}</th>
                </tr>
            </table>
        </div>
        {% include 'ErpProject/ErpBackOffice/widget/export_excel.html' with btn_id="btn_export" table_id="rapport" filename="extrait_client" only %}
        <script>
            $(document).ready(function(){
                $("tr > td > i").removeClass("fa-caret-down");
                $("tr > td > i").addClass("fa-caret-right");
                $("tr > td > i").data("show", false);

                $(".tr-toggle").click(function() {
                    var icone = $(this).find("i");
                    if (icone.data("show") === true) {
                        icone.removeClass("fa-caret-down");
                        icone.addClass("fa-caret-right");
                        icone.data("show", false);
                    } else {
                        icone.removeClass("fa-caret-right");
                        icone.addClass("fa-caret-down");
                        icone.data("show", true);
                    }
                });
            });
        </script>
{% endblock %}