{% extends "ErpProject/ModuleRessourcesHumaines/shared/layout.html" %}
{% block page %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a><span class="mif-home"></span></a></li>
            <li><a class="leaf" href="{% url 'module_rh_tableau_de_bord' %}">Module Ressources Humaines</a></li>
            <li><a class="chargement-au-click" href="{% url 'module_ressources_humaines_list_lotbulletin' %}">Lots de bulletins de paie</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <button onclick=""  class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" style="width: 20%;">
            Déclaration nominative
        </button>
        <button onclick=""  class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" style="width: 20%;">
            Etat des impôt sur salaire
        </button>
        <button onclick="javascript:window.location.assign('{% url 'module_ressources_humaines_add_lotbulletin' %}')"  class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" style="width: 20%;margin-left: 5px">Créer</button>
    </div>
    <div class="row">
		<center><h4 style="color:red; font-weight: bold;">DOSSIER DE PAIE</h4></center>
	</div>
    <hr class="hr-ligne">
    <!-- Appel de la fonction message -->
        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
    <br>
    
    <div class="row item-content" style="margin-top: 10px">
        <!--p class="header">{{ model.designation }}</p-->
        <div class="row cells2">
            <div class="cell">
                <p class="minor-header fg-gray">
                    Désignation :<br>
                    <span class="sub-alt-header fg-dark"> {{ model.designation }} </span>
                </p>
            </div>
            <div class="cell">
                <p class="minor-header fg-gray">
                    Référence :<br>
                    <span class="sub-alt-header fg-dark"> {{ model.reference }} </span>
                </p>
            </div>
        </div>
        <div class="row cells2">
            <div class="cell">
                <p class="minor-header fg-gray">
                    Département :<br>
                    <span class="sub-alt-header fg-dark"> {{ model.departement.designation }} </span>
                </p>
            </div>
            <div class="cell">
                <p class="minor-header fg-gray">
                    Type :<br>
                    <span class="sub-alt-header fg-dark"> {{ model.type }} </span>
                </p>
            </div>
        </div>
        <div class="row cells2">
            <div class="cell">
                <p class="minor-header fg-gray">
                    Date du dossier :<br>
                    <span class="sub-alt-header fg-dark"> {{ model.date_dossier|date:"d/m/Y" }} </span>
                </p>
            </div>
            <div class="cell">
                <p class="minor-header fg-gray">
                    Auteur :<br>
                    <span class="sub-alt-header fg-dark"> {{ model.auteur.nom_complet }} </span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}