{% extends "ErpProject/ModuleContrat/shared/layout.html" %} {% block page %}
{%load static %}
<script src="{% static 'ErpProject/js/chosen.jquery.js' %}"></script>
<link rel="stylesheet" href="{% static 'ErpProject/css/bootstrap-chosen.css' %}">
<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_contrat_index' %}">Module Contrat</a></li>
        {% if type_marche %}
        <li><a class="chargement-au-click" href="{% url type_marche.url_interne %}">{{ type_marche.designation }}</a></li>
        {% else %}
        <li><a class="chargement-au-click" href="{% url 'module_contrat_list_demande_cotation' %}">Liste des demandes de cotation</a></li>
        {% endif %}
        <li>{{ title }}</li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>

        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">


                <div class="row only-on-small-screen">
                    <h2 class="text-light no-margin-left">{{ title }}</h2>
                </div>


                <div class="row only-on-large-screen">
                    <button onclick="javascript:document.getElementById('submit').click()" class="button  rounded primary_color_{{module.name|lower}}">
                        Valider
                    </button>
                    <button onclick="javascript:window.location.assign('{% url 'module_contrat_list_demande_cotation' %}')" class="button  rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                </div>
                <div class="row only-on-small-screen">
                    <button onclick="javascript:document.getElementById('submit').click()" class="button large-button rounded primary">Valider</button>
                    <button onclick="javascript:window.location.assign('{% url 'module_contrat_list_demande_cotation' %}')" class="button large-button rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                </div>

                <hr class="hr-ligne">

                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
            <form id="form" method="POST" action="{% url 'module_contrat_post_add_demande_cotation' %}" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000" novalidate="novalidate"
                            data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                            {% csrf_token %}
                            <input id="submit" type="submit" style="display: none">
                            <div class="row">

                <div class="col-md-6">
                            <label>Numéro</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="numero" disabled id="numero" type="text">
                            </div>

                </div>

                <div class="col-md-6">
                    <label>Demande d'achat :</label>
                    <div class="input-control text full-size ">
                        <select name="demande_id" id="demande_id" class="chosen-select">
                            {% if etat_actuel_id != 0 %}
                                <option {% if etat_actuel_id == etat.id %} {{ "selected" }} {% endif %} value="{{ etat.id }}"> {{ etat.numero_demande}} </option>
                             {% else %}
                             <option value="">Sélectionnez une demande</option>
                             {% for item in demandes %}
                            <option value="{{ item.id }}"> {{ item.numero_demande }} </option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Intitulé</label>
                    <div class="input-control text full-size" data-role="input">
                        <input name="intitule" id="intitule" type="text" data-validate-func="required" data-validate-hint="Entrez montant !" value="{{ etat.montant_total }}">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Financement</label>
                    <div class="input-control text full-size" data-role="input">
                        <input name="financement" id="financement" type="text" data-validate-func="required" data-validate-hint="Entrez montant !" value="{{ etat.montant_total }}">
                    </div>

                </div>
                <div class="col-md-6">
                    <label>Nombre lots</label>
                    <div class="input-control text full-size" data-role="input">
                        <input name="nombre_lots" id="nombre_lots" type="number" data-validate-func="required" data-validate-hint="Entrez montant !" value="{{ etat.montant_total }}">
                    </div>

                </div>

                <div class="col-md-6">
                            <label>Montant</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="montant" id="montant" type="text" class="monetary" data-validate-func="required" data-validate-hint="Entrez montant !" value="{{ etat.montant_total }}">
                            </div>

                </div>

                <div class="col-md-6">
                    <label>Devise</label>
                    <div class="input-control text full-size">
                        <select name="devise_id" id="devise_id">
                            <option value="{{ devise.id }}">{{ devise.symbole_devise }}</option>
                        </select>

                    </div>
                 </div>
                <div class="col-md-6">
                        <label>Fournisseur</label>
                        <div class="input-control text full-size">
                                {% include 'ErpProject/ErpBackOffice/widget/select.html' with url="/fournisseur/demande_cotation/add?isPopup=1" model="Model_Fournisseur" name="fournisseur_id" id="fournisseur_id" hint="Selectionnez le fournisseur" only %}
                            </div>
                </div>

                <div class="col-md-6">
                    <label>Type de marché</label>
                    <div class="input-control text full-size">
                        {% if type_marche %}
                        <select name="type_marche_id" id="type_marche_id">
                            <option value="{{ type_marche.id }}">{{ type_marche.designation }}</option>
                        </select>
                        {% else %}
                            {% include 'ErpProject/ErpBackOffice/widget/select.html' with url="/type/lettre_commande/add?isPopup=1" model="Model_TypeMarche" name="type_marche_id" id="type_marche_id" hint="Selectionnez le type de marché" only %}
                        {% endif %}
                        </div>
                </div>

                <div class="col-md-6">
                            <label>Description</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="description" id="description" type="text" data-validate-func="required" data-validate-hint="Entrez description !">
                            </div>

                </div>

        </div>
        </form>
    </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<script>
    $(function() {
  $('.chosen-select').chosen();
  $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
});</script>

{% endblock %}