{% extends "ErpProject/ModuleAchat/shared/layout.html" %} {% block page %} {%load static %} {% load humanize %}
<div class="row" style="padding-top: 30px;">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>
        <!-- GESTION DU WORKFLOW -->

        {% include 'ErpProject/ErpBackOffice/widget/workflow.html' with utilisateur=utilisateur model=model content_type_id=content_type_id historique=historique roles=roles etapes_suivantes=etapes_suivantes url_add="module_achat_add_expression" url_detail="module_achat_detail_expression" csrf_token=csrf_token module=module type_doc="Etat de besoin" only %}


        <!-----------------------TRAITEMENT PARTICULIER WORKFLOW-------------------------------------------->
        <div>
            <!--CONSULTER STOCK PR SI-->

            {% for role in roles %}
            {% if role.designation == "Chef de bureau exploitation SI" or role.nom_role == "Support Informatique" %}
            <!--or utilisateur.nom_complet == "SYSTEM" -->

            {% if model.statut.designation == "Envoyé au service référent" %}

            <button onclick="javascript:window.location.assign('{% url 'module_inventaire_item_stock_emplacement' model.services_ref.id %}')"
                class="button small-button rounded primary_color_{{module.name|lower}} chargement-au-click" style="margin-left: 5px">
                Vérifier le stock
            </button>


            {% endif %}
            {% endif %}

            <!--CONSULTER STOCK PR MG-->
            {% if role.designation == "Chef de service MG" %}
            <!--or utilisateur.nom_complet == "SYSTEM" -->

            {% if model.statut.designation == "Approuvé" %}

            <button onclick="javascript:window.location.assign('{% url 'module_inventaire_item_stock_emplacement' model.services_ref.id %}')"
                class="button small-button rounded primary_color_{{module.name|lower}} chargement-au-click" style="margin-left: 5px">
                Vérifier le stock
            </button>


            {% endif %} {% endif %} {% endfor %}
            {% if model.statut.designation == "Créé" and utilisateur.id == model.demandeur.superieur_hierarchique.id %}

            <button onclick="javascript:window.location.assign('{% url 'module_achat_update_expression' model.id %}')" class="button rounded primary_color_{{module.name|lower}} chargement-au-click"
                style="margin-left: 5px">
                Modifier l'expression de besoin
            </button>




            {% endif %}
            <!--button id="supprimer" class="button small-button rounded primary_color_{{module.name|lower}} chargement-au-click" style="margin-left: 5px">Supprimer l'expression de besoin</!--button-->

        </div>
        <!--FIN GESTION DU WORKFLOW-->
        <br>
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
        <br>
        <div class="panel panel-default" style="border: none;">
            <div class="panel panel-body" style="background-color:white;">
                <div class="col-md-12">
                    <div class="col-md-6">
                        {% include 'ErpProject/ErpBackOffice/widget/organisation.html' %}
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <h3>Expression des besoins</h3>

                        <button type="button" onclick="imprimer({{model.id}})" class="btn btn-default" style="background-color: #41435d;border:none;color: white;">
                            Imprimer
                        </button>

                        <h3 style="color: red; font-weight: bold">N° {{model.numero_expression}}</h3>

                    </div>
                    <div class="separ col-md-12" style="background-color: grey;opacity: 0.1;margin-bottom: 20px;"></div>
                    <div class="col-md-6">
                        <p>
                            <strong> Demandé par:</strong> {{model.demandeur.nom_complet}}
                            <br>

                            <strong>Justification :</strong> {{model.justification}}
                            <br>

                            <strong>Centre de coût :</strong> {{model.centre_cout.designation}}


                        </p>
                    </div>



                    <div class="col-md-6" style="margin-bottom: 40px">
                        <p style="float: right;">
                            <strong>Date demande: {{model.date_expression | date:"d/m/Y" }}</strong>
                            <br>
                            <strong>Statut demande : {{model.etat}}</strong>
                            <br>
                            <strong>
                        </p>
                    </div>



                    <div class="col-md-12">
                        <table class="display nowrap border bordered striped" cellspacing="0" style="width: 100%;">
                            <tr>
                                <td class="head">#</td>
                                <td class="head">ARTICLE</td>
                                <td class="head">QUANTITE</td>
                                <td class="head">DESCRIPTION</td>
                            </tr>

                            {% for item in lignes %}
                            <tr>
                                <td class="td"></td>
                                <td class="td">{{ item.article.designation }}</td>
                                <td class="td"> {{item.quantite_demande}} </td>
                                <td class="td">{{ item.description }} </td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>

                    <div  class="col-md-12"  style="padding-top:50px; margin-bottom: 50px">

                        <h2>Documents attachés</h2>
                        <hr>
                        <ol>
                            {% for item in documents %}
                                <li style="margin-bottom: 0.25em">
                                    <a href="/static{{item.url_document}}"> <span class="fa fa-file"></span>  <span>{{item.description}} </span>  </a>
                                </li>
                            {% endfor %}
                        </ol>
                  </div>



                </div>
            </div>
        </div>
    </div>
</div>



<script>
   function supprimer() {
        var id = '{{model.id}}'
        //-------deux variables pour la suppression---------------------------------
        var modele = "Model_Expression"
        var the_url = "module_achat_list_expression"
        //------- url de suppression ------------------------------------------------
        url = "{% url 'backoffice_supprimer_objet' '100' 'nom_modele' 'url_retour' %}";
        url = url.replace('100', id);
        url = url.replace('nom_modele', modele);
        url = url.replace('url_retour', the_url);
        document.location.href = url;


    }
    $('#supprimer').on('click', function () {


        Swal.fire({
            title: 'Etes vous sure?',
            text: "De vouloir supprimer cette item!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Oui, Supprime le!'
        }).then((result) => {
            if (result.value) {
                supprimer();
                Swal.fire(
                    'Supprimé!',

                    'Votre Item est supprimé',
                    'Avec Succes',
                )
            }
        })
    })

</script>

<script>
       //Script du droit supprimer
		var lesactions = new Array();
        var booleen = false;
        {% for action in actions %}
        lesactions.push({ droit: "{{ action.droit }}" });
        {% endfor %}

        $(document).ready(function () {

            // Initialisation des sous-menus
            $("#supprimer").hide();

            for (var i = 1; i < lesactions.length; i++) {
                act = lesactions[i];
                if (act.droit === "CREER_RAPPORT") {
                    booleen = true;
                }
            }

            if (booleen) {
                $("#supprimer").show();
            }
        });
</script>
<script>
    function imprimer(_id) {
        console.log('mon id '+_id)
        url = '{% url 'module_achat_printing_expression' %}?ref=' + _id
        newwindow = window.open(url, '', '_blank, height = 9000, width = 9000');
        //newwindow.print()
    }
</script>

{% endblock %}
