{% extends "ErpProject/ModuleVente/shared/layout.html" %}
{% block page %}
	{%load static %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a><span class="mif-home"></span></a></li>
            <li><a class="leaf" href="{% url 'module_vente_tableau_de_bord' %}">Module Vente</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row" style="padding-top: 30px;">
        <div class="col-lg-12">
            <h2>{{title}}</h2>
        <strong style="float: right;color: grey;opacity: 0.85;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
            <dir class="separ" style="background-color: grey;opacity: 0.2"></dir>
                <div class="panel panel-default" style="border: none;">

                <div class="panel panel-body" style=    "background-color:#f5f5f5;border: none;border-radius: none;">

        <div class="row">
            <button onclick="javascript:document.getElementById('submit').click()" class="button small-button rounded primary primary_color_{{module.name|lower}}">Valider</button>
            <button onclick="javascript:window.location.assign('{% url 'module_vente_list_type_articles' %}')" class="button small-button rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
        </div>
        <hr class="hr-ligne">
        <!-- Appel de la fonction message -->
            {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
        <br>

        <div class="row item-content" style="margin-top: 10px">
            <form id="form" method="POST" action="{% url 'module_vente_post_add_type_articles' %}"
                enctype="multipart/form-data"
                data-role="validator"
                data-show-required-state="false"
                data-hint-mode="line"
                data-hint-background="bg-red"
                data-hint-color="fg-white"
                data-hide-error="5000"
                novalidate="novalidate"
                data-on-error-input="notifyOnErrorInput"
                data-show-error-hint="false">
                {% csrf_token %}
                <input id="submit" type="submit" style="display: none">

                <div class="row item-content" style="margin-top: 10px">
                    <table class="table no-margin">
                        <tr>
                            <td class="no-padding-left no-padding-bottom" width="35%">
                                <label>Nature</label>
                                <div class="input-control text full-size" data-role="input">
                                    <input value="{{model.nature}}" name="nature" type="text" data-validate-func="required" data-validate-hint="Entrez le nom du fournisseur !">
                                    <span class="input-state-error mif-warning"></span>
                                    <span class="input-state-success mif-checkmark"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="no-padding-top no-padding-left no-padding-bottom" width="35%">
                                <div class="row">
                                    <label class="input-control checkbox small-check full-size">
                                        <input value="1" name="est_amortissable" id="est_amortissable" checked type="checkbox">
                                        <span class="check"></span>
                                        <span class="caption">Est Amortissable</span>
                                    </label>
                                    <label class="input-control checkbox small-check full-size" >
                                        <input value="1" name="est_stockable" id="est_stockable" checked type="checkbox">
                                        <span class="check"></span>
                                        <span class="caption">Est Stockable</span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="no-padding-left no-padding-bottom" width="35%">
                                <label>Durée d'Amortissement</label>
                                <div class="input-control text full-size" data-role="input">
                                    <input name="duree_amortissement" value="{{model.duree_amortissement}}" type="text" data-validate-func="required" data-validate-hint="Entrez le nom du fournisseur !">
                                    <span class="input-state-error mif-warning"></span>
                                    <span class="input-state-success mif-checkmark"></span>
                                </div>
                            </td>
                            <td class="no-padding-top no-padding-bottom" width="30%"></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
{% endblock %}