{% extends "ErpProject/ModuleAchat/shared/layout.html" %} {% block page %} {%load static %} {% load humanize %}
<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_controle_tableau' %}">Module Controle de Gestion</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_controle_list_show_module' %}">Liste des modules</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_controle_list_operationnalisation_module' model.module_id %}"> Module {{ model.module.nom_module }}: Liste des opérations</a></li>
        <li>{{ title }}</li>
    </ul>
</div>
{% include 'ErpProject/ErpBackOffice/widget/workflow.html' with utilisateur=utilisateur model=model content_type_id=content_type_id historique=historique roles=roles etapes_suivantes=etapes_suivantes url_add="module_controle_add_operationnalisation_module" url_detail="module_controle_detail_operationnalisation_module" csrf_token=csrf_token module=module type_doc="" only %}

<div class="row" style="padding-top: 30px;">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
        <br>
        <div class="panel panel-default" style="border: none;">
            <div class="panel panel-body" style="background-color:white;">
                <div class="col-md-12">
                    <div class="col-md-6">
                        {% include 'ErpProject/ErpBackOffice/widget/organisation.html' %}
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <h3>Module {{ model.module.nom_module}}: {{model.designation}}</h3>

                        <form method="POST" action="{% url 'module_controle_post_status_operationnalisation_module' %}">
                            {% csrf_token %}
                            <input type="hidden" name="ref" value={{model.id}}>
                            {% if model.est_active %}
                            <input type="hidden" name="status" value="2">
                            <button type="submit" class="theme-btn theme-btn-sm rounded" style="background-color:#7e2519;border:none;color: white;">Clôturer</button>
                            {% else %}
                            <input type="hidden" name="status" value="1">
                            <button type="submit" class="theme-btn theme-btn-sm rounded" style="background-color: #1c9741;border:none;color: white;">Activer</button>
                            {% endif %}
                        </form>

                        <h3 style="color: red; font-weight: bold"> Status: {% if model.est_active %} Activé {% elif model.est_cloture %} Clôturé {% else %} Créé {% endif %}</h3>

                    </div>
                    <div class="separ col-md-12" style="background-color: grey;opacity: 0.1;margin-bottom: 20px;"></div>
                    <div class="col-md-6">
                        <p>
                            <strong> Designation:</strong> {{model.designation}}
                            <br><br><br>

                            <strong>Observation :</strong> {{model.observation}}
                            <br><br><br>



                        </p>
                    </div>



                    <div class="col-md-6" style="margin-bottom: 40px">
                        <p style="float: right;">
                            <strong>Date de début: </strong>{{model.date_debut | date:"d/m/Y" }}
                            <br>
                            <br>
                            <br>
                            <strong>Date de fin: </strong>{{model.date_fin | date:"d/m/Y" }}
                            <br><br><br>
                            <strong>
                        </p>
                    </div>






                </div>
            </div>
        </div>
    </div>
</div>



<script>

</script>

{% endblock %}
