{% extends "ErpProject/ModuleRessourcesHumaines/shared/layout.html" %} {% block page %}
<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_rh_tableau_de_bord' %}">Module Ressources Humaines</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_ressourceshumaines_list_categorie_employe' %}">Catégorie & Echelon</a></li>
        <li>{{ title }}</li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Modifier Categorie_employe</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>

        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">


                <div class="row only-on-small-screen">
                    <h2 class="text-light no-margin-left">{{ title }}</h2>
                </div>


                <div class="row only-on-large-screen">
                    <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}">
                        Valider
                    </button>
                    <button onclick="javascript:window.location.assign('{% url 'module_ressourceshumaines_list_categorie_employe' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                </div>
                <div class="row only-on-small-screen">
                    <button onclick="javascript:document.getElementById('submit').click()" class="button large-button rounded primary">Valider</button>
                    <button onclick="javascript:window.location.assign('{% url 'module_ressourceshumaines_list_categorie_employe' %}')" class="button large-button rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                </div>

                <hr class="hr-ligne">

                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}

            <form id="form" method="POST" action="{% url 'module_ressourceshumaines_post_update_categorie_employe' %}" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000" novalidate="novalidate"
                            data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                            {% csrf_token %}
                            <input id="submit" type="submit" style="display: none">
                             <input name="ref" type="hidden" value="{{ model.id }}">
                            <div class="row">

                                <div class="col-md-6">
                                    <label>Catégorie</label>
                                    <!-- <div class="input-control text full-size" data-role="input">
                                        <input name="categorie" id="categorie" type="text" data-validate-func="required" data-validate-hint="Entrez categorie !">
                                    </div> -->
                                    <div class="input-control text full-size">
                                        <select name="categorie" class="chosen-select" id="categorie"
                                        data-validate-func="required" data-validate-arg="1" data-validate-hint="Selectionnez une categorie svp.">
                                            {% for item in categories %}       
                                            <option {% if model.categorie.id == item.id %} {{ "selected" }} {% endif %} value="{{item.id}}"> {{item.designation}} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
        
                        </div>
                <div class="col-md-6">
                    <label>Echelon</label>
                    <!-- <div class="input-control text full-size" data-role="input">
                        <input name="categorie" id="categorie" type="text" data-validate-func="required" data-validate-hint="Entrez categorie !">
                    </div> -->
                    <div class="input-control text full-size">
                        <select name="echelon" id="echelon" class="chosen-select" 
                        data-validate-func="required" data-validate-arg="1" data-validate-hint="Selectionnez une categorie svp.">
                            {% for item in echelons %}       
                            <option {% if model.echelon.id == item.id %} {{ "selected" }} {% endif %} value="{{item.id}}"> {{item.designation}} </option>
                            {% endfor %}
                        </select> 
                    </div>

        </div>
   
                <div class="col-md-6">
                    <label>Salaire de base</label>
                    <div class="input-control text full-size" data-role="input">
                        <input name="salaire_base" id="salaire_base" type="text" data-validate-func="required" data-validate-hint="Entrez salaire_base !" value = "{{model.salaire_base}}">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Dévise</label>
                    <div class="input-control text full-size" data-role="input">
                        <select name="devise_id" id="devise_id" class="chosen-select" 
                            data-validate-func="required" data-validate-arg="1" data-validate-hint="Selectionnez une categorie svp.">
                            {% for item in devises %}       
                            <option {% if model.devise_id.id == item.id %} {{ "selected" }} {% endif %} value="{{item.id}}"> {{item}} </option>
                            {% endfor %}
                        </select>
                        <!-- <input name="devise_id" id="devise_id" type="text" data-validate-func="required" data-validate-hint="Entrez devise_id !" value = "{{model.devise_id}}"> -->
                    </div>
                </div>

                <div class="col-md-6">
                            <label>Description</label>
                            <div class="input-control text full-size" data-role="input">
                                <input name="description" id="description" type="text" data-validate-func="required" data-validate-hint="Entrez description !" value = "{{model.description}}">
                            </div>
                </div>

        </div>
        </form>
    </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>


{% endblock %}