{% extends "ErpProject/ModulePayroll/shared/layout.html" %} {% block page %} {%load static %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_payroll_tableau_de_bord' %}">Module Payroll</a></li>
            <li><a class="chargement-au-click" href="{% url 'module_payroll_list_categorie_regle' %}">Liste des catégories de règles salariales</a></li>
            <li><a class="chargement-au-click" href="{% url 'module_payroll_details_categorie_regle' model.id %}">{{ model.designation }}</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>{{ title }}</h3>
            <strong style="float: right;color: grey;opacity: 0.85;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
            <div class="separ" style="background-color: grey;opacity: 0.2"></div>
            <div class="panel panel-default" style="border: none;">
                <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                    <div class="row ">
                        <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}"style="width:20%">Valider</button>
                        <button onclick="javascript:window.location.assign('{% url 'module_payroll_details_categorie_regle' model.id %}')" class="theme-btn theme-btn-sm rounded chargement-au-click" style="width:20%;margin-left: 5px">Annuler</button>
                    </div>
                    <hr class="hr-ligne">
                    <!-- Appel de la fonction message -->
                    {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}<br>

                    <form id="form" method="POST" action="{% url 'module_payroll_post_update_categorie_regle' %}" enctype="multipart/form-data" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
                        novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                        {% csrf_token %}
                        <input id="submit" type="submit" style="display: none">
                        <input type="text"  id="ref" name="ref" value ="{{ model.id }}" style="display: none">
                        <input type="text" id="isPopup" name = "isPopup" value="{{ isPopup }}" style="display: none">
                        <input type="text"  id="myUrl" name = "myUrl" value = "" style="display: none">
                        <input type="text"  id="parent" name = "parent" value = "" style="display: none">
                        <br/>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Désignation</label>
                                <div class="input-control text full-size">
                                    <input value="{{ model.designation }}" type="text" name="designation" id="designation"
                                        data-validate-func="required"
                                        data-validate-hint="Entrez la désignation svp."/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Code</label>
                                <div class="input-control text full-size">
                                    <input value="{{ model.code }}" type="text" name="code" id="code"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Description</label>
                                <div class="input-control text full-size" style="min-height: 6.25rem !important;">
                                    <textarea name="description" id="description">{{ model.description }}</textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
{% endblock %}
