
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Invoice</title>
        <meta name="description" content="Invoice demo sample">
        <meta name="author" content="Kozea">
    </head>
    {% load account_filters %}{% load humanize %}

    <body>       
        <div id="report">
            <h2 class="align-center header">{{ title }}</h2>
            <span class="date-text">Le {% now " d/m/Y" %}</span>
            <div class="row">
                <p>
                    Période :<br>
                    <span class="sub-header">Du {{ date_debut }} au {{ date_fin }} </span>
                    <br>
                    <br>
                    Devise :<br>
                    <span class="sub-header">{{ devise.designation }}</span>
                </p>
            </div>
            <br>
            <br>
            <table id="rapport" class="table bordered no-margin" style="width: 100%">
                <tr style="background-color:#f1f1f1">
                    <th width="5%">No Pièce</th>
                    <th width="10%">Journal</th>
                    <th width="15%">Date</th>
                    <th width="25%">Libéllé de l'écriture</th>
                    <th width="14%">Débit</th>
                    <th width="14%">Crédit</th>
                    <th width="2%" style="background-color:#fff!important;border-top: none!important; border-bottom: none!important;"></th>
                    <th width="15%">Solde cumulé</th>
                </tr>
                <tr><td colspan="8" style="border: none!important;"></td></tr>
            {% for compte in comptes %}
                <tr class="thead">
                    <td colspan="4" style="background-color:#8baee9"><p class="sub-header no-margin">Compte : {{ compte.numero }} {{ compte.designation }} </p></td>
                    <td colspan="4" style="border: none!important;"></td>
                </tr>
                {% for item in model %}
                    {% if item.compte_id == compte.id %}
                        <tr>
                            <td width="5%">{{ item.piece_comptable.reference }}</td>
                            <td width="10%">{{ item.piece_comptable.journal_comptable.code }}</td>
                            <td width="15%"> {{ item.piece_comptable.date_piece|date:"d/m/Y" }} </td>
                            <td width="25%"> {{ item.designation }} </td>
                            <td width="14%" align="right"> {% if item.debit == "0.00" %}  - {% else %}  {{ item.debit|monetary }} {% endif %} </td>
                            <td width="14%" align="right"> {% if item.credit == "0.00" %}  - {% else %}  {{ item.credit|monetary }} {% endif %} </td>
                            <td width="2%" style="background-color:#fff!important;border-top: none!important; border-bottom: none!important;"></td>
                            <td width="15%" align="right"> {% if item.credit == "0.00" %}  - {% else %}  - {{ item.credit|monetary }} {% endif %} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr class="thead" style="font-style: normal;font-weight: 700;background-color:#8baee9;">
                    <td width="50%" colspan="4"> TOTAL COMPTE {{ compte.numero }}</td>
                    <td width="14%" id="" style="text-align: right">{{equilibre_debit|monetary}}</td>
                    <td width="14%" id="equilibre_credit" style="text-align: right">{{equilibre_credit|monetary}}</td>
                    <td width="2%" style="background-color:#fff!important;border-top: none!important; border-bottom: none!important;"></td>
                    <td width="15%" id="total_cumule" style="text-align: right">- {{equilibre_debit|monetary}}</td>
                </tr>
                <tr><td colspan="8" style="border: none!important;"></td></tr>
            {% endfor %}
                <tr style="background-color:#ffb871;font-style: normal;font-weight: 700;">
                    <td width="50%" colspan="4"> TOTAL CLASSE </td>
                    <td width="14%" id="" style="text-align: right">{{equilibre_debit|monetary}}</td>
                    <td width="14%" id="equilibre_credit" style="text-align: right">{{equilibre_credit|monetary}}</td>
                    <td width="2%" style="background-color:#fff!important;border-top: none!important; border-bottom: none!important;"></td>
                    <td width="15%" id="total_cumule" style="text-align: right">- {{equilibre_debit|monetary}}</td>
                </tr>
                <tr><td colspan="8" style="border: none!important;"></td></tr>
                <tr style="background-color:#f1f1f1">
                    <td width="50%" colspan="4"> TOTAL GRAND LIVRE {{ compte.numero }}</td>
                    <td width="14%" id="" style="text-align: right">{{equilibre_debit|monetary}}</td>
                    <td width="14%" id="equilibre_credit" style="text-align: right">{{equilibre_credit|monetary}}</td>
                    <td width="2%" style="background-color:#fff!important;border-top: none!important; border-bottom: none!important;"></td>
                    <td width="15%" id="total_cumule" style="text-align: right">- {{equilibre_debit|monetary}}</td>
                </tr>
            </table>            
        </div>
    </body>
</html>