
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="Rapport">
        <meta name="author" content="Faberman">
    </head>
    {% load account_filters %}{% load humanize %}{%load static %}

    <body>
        <div id="report">
            <span class="date-text">Le {% now " d/m/Y" %}</span>
            <h1 class="align-center">{{title}} {{ligne_operation.reference}}</h1>
            <h3 class="align-center">Du {{ligne_operation.date_ligne_operation|date:'d/m/Y'}}</h3>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12"><h2><span>MONTANT</span> : {{ligne_operation.montant}} {{ligne_operation.devise}}</h2></div>
                <div class="col-md-12"><h2><span>Bénéficiaire(s)</span>: {{ligne_operation.libelle}}</h2></div>
                {% if ligne_operation.facture %}
                    <div class="col-md-12"><h2><span>Facture</span>: {{ligne_operation.facture.numero_facture}}</h2></div>
                {% endif %}
            </div>
            <div class="row">
                <table class="display table nowrap border bordered" cellspacing="0" style="width:100%">
                    <tbody>
                        <tr>
                            <th  width="30%"><h2>Libelle</h2></th>
                            <th  width="20%"><h2>Type opération</h2></th>
                            <th  width="50%"><h2>Description</h2></th>
                        </tr>
                        <tr>
                            <td><h3>{{ligne_operation.libelle}}</h3></td>
                            <td><h3>{{ligne_operation.value_type_operation}}</h3></td>
                            <td><h3>{{ligne_operation.description}}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>Montant en lettres :</h3> </td>
                            <td> - </td>
                            <td> <h3>{{ligne_operation.montant }} {{ligne_operation.devise}} </h3></td>
                        </tr>
                        <tr>
                            <td colspan="2"><pre><h3>Le Caissier : {{auteur.nom_complet}}</h3></pre></td>
                            <td><h3>signature du bénéficiaire :</h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>