{% extends "ErpProject/ModuleComptabilite/shared/layout.html" %}
{% block page %}
{% load account_filters %} 
    <div class="row">
        <ul class="breadcrumb">
            <li><a><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_comptabilite_tableau_de_bord' %}">Module Budget</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12">
        <h2>{{ title }}</h2>
        <strong style="float: right;color: grey;opacity: 0.85;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
            <div class="separ" style="background-color: grey;opacity: 0.2"></div>
            <div class="panel panel-default" style="border: none;">            
                <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                    <div class="row">
                        <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Créer</button> 
                        <button id="rafraichir" class="theme-btn theme-btn-sm rounded chargement-au-click" style="margin-left: 5px">Rafraîchir</button>
                        <!--button onclick="javascript:window.location.assign('{% url 'module_comptabilite_upload_ouverture_compte' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click">Importer un excel</!--button-->
                    </div>
                    <hr class="hr-ligne">
                    <!-- Appel de la fonction message -->
                        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
                    <br>
                    <form id="form" method="POST" action="{% url 'module_comptabilite_print_rapport_synthese' %}" enctype="multipart/form-data" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
                            novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                            {% csrf_token %}
                            <input id="submit" type="submit" style="display: none">

                            
                            <input name="date_debut" type="hidden" value="{{ date_debut }}">
                            <input name="date_fin" type="hidden" value="{{ date_fin }}">


                            <div class="row margin20 no-margin-left no-margin-right">
                                <table class="table no-margin">
                                    <thead class="no-border">
                                        <tr>
                                            <th width="50%">Libelle</th>
                                            <th width="20%">Dette</th>
                                            <th width="20%">Proposition</th>
                                        </tr>
                                    </thead>
                                    <tbody id="items">
                                            {% if factures %}
                                            {% for facture in factures %}
                                        <tr id="ligne{{forloop.counter}}">
                                            <td class="no-padding-top no-padding-left no-padding-bottom">
                                                <div class="input-control select full-size">
                                                    <input name="libelle" id="libelle{{forloop.counter}}" value = "{{facture.fournisseur.nom_complet}}" type="text" autocomplete="off" readonly >
                                                </div>
                                            </td>                                            
                                            <td class="no-padding-top no-padding-bottom">
                                                <div class="input-control text full-size">
                                                    <input name="dette" id="dette{{forloop.counter}}" value = "{{facture.montant_restant}}" type="text" autocomplete="off" readonly >
                                                </div>
                                            </td>

                                            <td class="no-padding-top no-padding-bottom">
                                                <div class="input-control text full-size">
                                                    <input name="proposition" id="proposition{{forloop.counter}}"  type="text" autocomplete="off" 
                                                    data-validate-func="required" 
                                                    data-validate-hint="Précisez la proposition">
                                                </div>
                                            </td>
                                            <td class="no-padding-top no-padding-bottom">
                                                <div class="pagination no-border">
                                                    <span class="item" title="Supprimer la ligne" onclick="supprimerLigne({{forloop.counter}})"><span class="mif-cross fg-red"></span></span>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        
                                        <tr id="ligne1">
                                                <td class="no-padding-top no-padding-left no-padding-bottom">
                                                    <div class="input-control select full-size">
                                                        <input name="libelle" id="libelle1" type="text" autocomplete="off"
                                                        data-validate-func="required" 
                                                        data-validate-hint="Précisez le libelle de la dépense à prevoir">
                                                    </div>
                                                </td>                                            
                                                <td class="no-padding-top no-padding-bottom">
                                                    <div class="input-control text full-size">
                                                        <input name="dette" id="dette1" type="text" autocomplete="off"
                                                        data-validate-func="required" 
                                                        data-validate-hint="Précisez la dette"
                                                        >
                                                    </div>
                                                </td>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <div class="input-control text full-size">
                                                        <input name="proposition" id="proposition1" type="text" autocomplete="off"
                                                        data-validate-func="required" 
                                                        data-validate-hint="Précisez la proposition">
                                                    </div>
                                                </td>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <div class="pagination no-border">
                                                        <span class="item" title="Supprimer la ligne" onclick="supprimerLigne(1)"><span class="mif-cross fg-red"></span></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row margin10 no-margin-left no-margin-right">
                                <button type="button" class="button small-button rounded" id="btnAjouterLigne">Ajouter une ligne</button>
                            </div>


                            <br><br><br><br><h2>Recettes attendues</h2><br><br>


                            <!-- ###################### RECETTE A PREVOIR ####################################### -->
                            <div class="row margin20 no-margin-left no-margin-right">
                                <table class="table no-margin">
                                    <thead class="no-border">
                                        <tr>
                                            <th width="50%">Libelle</th>
                                            <th width="20%">Créance</th>
                                            <th width="20%">Montant attendu</th>
                                        </tr>
                                    </thead>
                                    <tbody id="client_items">
                                            {% if factures_clients %}
                                            {% for facture in factures_clients %}
                                        <tr id="client_ligne{{forloop.counter}}">
                                            <td class="no-padding-top no-padding-left no-padding-bottom">
                                                <div class="input-control select full-size">
                                                    <input name="client_libelle" id="client_libelle{{forloop.counter}}" value = "{{facture.client.nom_complet}}" type="text" autocomplete="off" readonly >
                                                </div>
                                            </td>                                            
                                            <td class="no-padding-top no-padding-bottom">
                                                <div class="input-control text full-size">
                                                    <input name="creance" id="creance{{forloop.counter}}" value = "{{facture.montant_restant}}" type="text" autocomplete="off" readonly >
                                                </div>
                                            </td>

                                            <td class="no-padding-top no-padding-bottom">
                                                <div class="input-control text full-size">
                                                    <input name="client_proposition" id="client_{{forloop.counter}}"  type="text" autocomplete="off" 
                                                    data-validate-func="required" 
                                                    data-validate-hint="Précisez le montant attendu">
                                                </div>
                                            </td>
                                            <td class="no-padding-top no-padding-bottom">
                                                <div class="pagination no-border">
                                                    <span class="item" title="Supprimer la ligne" onclick="supprimerLigneClient({{forloop.counter}})"><span class="mif-cross fg-red"></span></span>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        
                                        <tr id="client_ligne1">
                                                <td class="no-padding-top no-padding-left no-padding-bottom">
                                                    <div class="input-control select full-size">
                                                        <input name="client_libelle" id="client_libelle1" type="text" autocomplete="off"
                                                        data-validate-func="required" 
                                                        data-validate-hint="Précisez le libelle de la recette attendue ">
                                                    </div>
                                                </td>                                            
                                                <td class="no-padding-top no-padding-bottom">
                                                    <div class="input-control text full-size">
                                                        <input name="creance" id="creance1" type="text" autocomplete="off"
                                                        data-validate-func="required" 
                                                        data-validate-hint="Précisez la dette"
                                                        >
                                                    </div>
                                                </td>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <div class="input-control text full-size">
                                                        <input name="client_proposition" id="client_proposition1" type="text" autocomplete="off"
                                                        data-validate-func="required" 
                                                        data-validate-hint="Précisez le montant attendu">
                                                    </div>
                                                </td>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <div class="pagination no-border">
                                                        <span class="item" title="Supprimer la ligne" onclick="supprimerLigneClient(1)"><span class="mif-cross fg-red"></span></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row margin10 no-margin-left no-margin-right">
                                <button type="button" class="button small-button rounded" id="btnAjouterLigneClient">Ajouter une ligne</button>
                            </div>
                    </form>
                    <br><br>
                    

                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>     
     
    <script>

        var lataille = 0;
        var nombreLignes = 1;
         var compteur = 1;

         var latailleClient = 0;
         var nombreLignesClient = 1;
         var compteurClient = 1;
 
         {% for item in factures %}
             lataille +=1
         {% endfor %}

         {% for item in factures_clients %}
            latailleClient += 1
         {% endfor %}
 
     console.log("taille",lataille);
     if (lataille != 0) {
             nombreLignes = lataille;
             compteur = lataille;
         }

         if (latailleClient != 0) {
             nombreLignesClient = latailleClient;
             compteurClient = latailleClient;
         }
         
         $("#btnAjouterLigne").on("click", function () {
             nombreLignes++;
             compteur++;
             var nouvelleLigne = '<tr id="ligne' + compteur + '"><td class="no-padding-top no-padding-left no-padding-bottom"><div class="input-control select full-size">';
             nouvelleLigne += '<input name="libelle" id="libelle'+ compteur + '" type="text" autocomplete="off" data-validate-func="required" data-validate-hint="Précisez le libelle de la dépense à prevoir"></div></td>';
                nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="input-control text full-size">'
            nouvelleLigne += '<input name="dette" id="dette'+compteur+'" type="text" autocomplete="off" data-validate-func="required" data-validate-hint="Précisez la dette" ></div></td>'
            
            nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="input-control text full-size">'
            nouvelleLigne += '<input name="proposition" id="proposition'+compteur+'" type="text" autocomplete="off" data-validate-func="required" data-validate-hint="Précisez la proposition" ></div></td>'
            nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="pagination no-border">';
             nouvelleLigne += '<span class="item" title="Supprimer la ligne" onclick="supprimerLigne(' + compteur + ')"><span class="mif-cross fg-red"></span></span>';
             nouvelleLigne += '</div></td></tr>';
                 
             $("#items").append(nouvelleLigne);
             
             
             
         });

         $("#btnAjouterLigneClient").on("click", function () {
             nombreLignesClient++;
             compteurClient++;
             var nouvelleLigne = '<tr id="client_ligne' + compteur + '"><td class="no-padding-top no-padding-left no-padding-bottom"><div class="input-control select full-size">';
             nouvelleLigne += '<input name="client_libelle" id="client_libelle'+ compteur + '" type="text" autocomplete="off" data-validate-func="required" data-validate-hint="Précisez le libelle de la recette attendue"></div></td>';
                nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="input-control text full-size">'
            nouvelleLigne += '<input name="creance" id="creance'+compteur+'" type="text" autocomplete="off" data-validate-func="required" data-validate-hint="Précisez la créance" ></div></td>'
            
            nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="input-control text full-size">'
            nouvelleLigne += '<input name="client_proposition" id="client_proposition'+compteur+'" type="text" autocomplete="off" data-validate-func="required" data-validate-hint="Précisez le montant attendu" ></div></td>'
            nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="pagination no-border">';
             nouvelleLigne += '<span class="item" title="Supprimer la ligne" onclick="supprimerLigneClient(' + compteur + ')"><span class="mif-cross fg-red"></span></span>';
             nouvelleLigne += '</div></td></tr>';
                 
             $("#client_items").append(nouvelleLigne);
             
             
             
         });
     
       
 
         function supprimerLigne(indice) {
             nombreLignes--;
             $("#ligne" + indice).remove();
         }

         function supprimerLigneClient(indice) {
            nombreLignesClient--;
             $("#client_ligne" + indice).remove();
         }
         
        
     </script>


     
 
{% endblock %}