{% extends "ErpProject/ModuleRessourcesHumaines/shared/layout.html" %}
{% block page %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_rh_tableau_de_bord' %}">Module Ressources Humaines</a></li>
			<li><a class="chargement-au-click" href="{% url 'module_ressources_humaines_list_dossier_social' %}">Listes des dossiers de la gestion du social</a></li>
			<li><a class="chargement-au-click" href="{% url 'module_ressources_humaines_details_dossier_social' model.id %}">'Dossier N° {{model.numero_dossier_social}} de l'employé {{model.employe.nom_complet}}</a></li>
            <li>{{ title }}</li>
        </ul>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <h2>Modifier dossiers du social</h2>
            <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
                
            <div class="separ" style="background-color: grey;opacity: 0.2"></div>
                
            <div class="panel panel-default" style="border: none; margin-top: 1rem;">
                <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                    
    
                    <div class="row only-on-small-screen">
                        <h2 class="text-light no-margin-left">{{ title }}</h2>
                    </div>
    
    
                    <div class="row only-on-large-screen">
                        <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}">
                            Valider
                        </button>
                        <button onclick="javascript:window.location.assign('{% url 'module_ressources_humaines_list_dossier_social' %}')"  class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" style="width: 20%;">Annuler</button>
                    </div>
                    <div class="row only-on-small-screen">
                        <button onclick="javascript:document.getElementById('submit').click()" class="button large-button rounded primary">Valider</button>
                        <button onclick="javascript:window.location.assign('{% url 'module_ressources_humaines_list_dossier_social' %}')"  class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" style="width: 20%;margin-left: 5px">Annuler</button>
                    </div>
    
                    <hr class="hr-ligne">
                    <!-- Appel de la fonction message -->
                        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
                    <br>
                    
                    <form id="form" method="POST" action="{% url 'module_ressources_humaines_post_update_dossier_social' %}" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000" novalidate="novalidate"
                        data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                        {% csrf_token %}
                        <input id="submit" type="submit" style="display: none">
                        <input name="ref" type="hidden" value="{{ model.id }}" >
                        <div class="row">
                            <div class="col-md-6">
                                <label>Employe concerné</label>
                                <div class="input-control text full-size">
                                    <select name="employe_id" class="chosen-select" id="employe_id"
                                        data-validate-func="min" 
                                        data-validate-arg="1"
                                        data-validate-hint="Selectionnez un bon employe svp.">
                                        {#{% if utilisateur %}#}
                                            <!-- <option {{ "selected" }} value="{{ utilisateur.id }}">{{ utilisateur.nom_complet }}</option> -->
                                        {#{% else %}#}
                                            <option value="0">Selectionnez un employé</option>
                                            {% for item in employe %}
                                                <option {% if item.id == model.employe.id %} {{ "selected" }} {% endif %} value="{{ item.id }}"> {{ item.nom_complet }} </option>
                                            {% endfor %}
                                        {#{% endif %}#}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Assigné à</label>
                                <div class="input-control text full-size">
                                    <select name="responsable_id" class="chosen-select" id="responsable_id"
                                        data-validate-func="min" 
                                        data-validate-arg="1"
                                        data-validate-hint="Selectionnez le concerné svp.">
                                        <option value="0">Selectionnez un employé</option>
                                        {% for item in employe %}
                                            <option {% if item.id == model.responsable.id %} {{ "selected" }} {% endif %} value="{{ item.id }}"> {{ item.nom_complet }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- structure -->
                                <label>Structure</label>
                                <div class="input-control text full-size" data-role="input">
                                    <input name="structure" id="structure" type="text" value="{{ model.structure }}" placeholder="Ex: Pharmacie, Ecole..." >
                                    <span class="input-state-error mif-warning"></span>
                                    <span class="input-state-success mif-checkmark"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- lieu -->
                                <label>Lieu</label>
                                <div class="input-control text full-size" data-role="input">
                                    <input name="lieu" id="lieu" type="text" value="{{ model.lieu }}" placeholder="Précisez une adresse" >
                                    <span class="input-state-error mif-warning"></span>
                                    <span class="input-state-success mif-checkmark"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- sujet -->
                                <label>Type d'événement</label>
                                <div class="input-control text full-size">
                                    <select name="sujet" class="chosen-select" id="sujet"
                                        data-validate-func="min" 
                                        data-validate-arg="1"
                                        data-validate-hint="Sélectionnez le type svp.">
                                        <option value="0">Sélectionnez un type</option>
                                        {% for item in evenement_social %}
                                            <option {% if model.statute == item.id %} {{ "selected" }} {% endif %} value="{{ item.id }}"> {{ item.designation }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- textarea description -->
                                <label>Description</label>
                                <textarea name="description" id="description" cols="66" rows="10" required>{{ model.description }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Documents en attaches</label>
                                <div class="input-control text full-size">
                                    <input id="doc" name="doc" type="file" multiple>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.chosen-select').chosen();
    </script>
{% endblock %}