{% extends "ErpProject/ModuleVente/shared/layout.html" %} {% block page %} {%load static %}
{% load account_filters %}
<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="leaf" href="{% url 'module_vente_tableau_de_bord' %}">Module Vente</a></li>
        <li>{{ title }}</li>
    </ul>
</div>

<div class="row" style="padding-top: 30px;">
    <div class="col-lg-12">
        <h2>Liste des Paiements</h2>
    <strong style="float: right;color: grey;opacity:1;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>

        <dir class="separ" style="background-color: grey;opacity: 0.2"></dir>
           <div class="panel panel-default" style="border: none;">

            <div class="panel panel-body" style=    "background-color:#f5f5f5;border: none;border-radius: none;">

                      <button onclick="javascript:window.location.assign('{% url 'module_vente_add_paiement_client' %}')" class="button small-button rounded primary chargement-au-click  primary primary_color_{{module.name|lower}}">Créer</button>

    <div class="cell">
        <div data-role="group" data-group-type="one-state">
            <button id="btn-tree" class="button small-button rounded"><span class="mif-list"></span></button>
            <button id="btn-kanban" class="button small-button rounded"><span class="mif-apps"></span></button>
        </div>
    </div>

    <hr class="hr-ligne">
    <!-- Appel de la fonction message -->
        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
    <br>

    <br>

        <div id="tree-view" class="row erp-hidden" style="margin-top: 10px">
            <table id="example" class="display nowrap border bordered striped" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 20px; background-color:#2e416a; white"></th>
                        <th>Numéro</th>
                        <th>Client</th>
                        <th>Date de facturation</th>
                        <th>Date d'échéance</th>
                        <th>Total</th>
                        <th>A payer</th>
                        <th>Etat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in model %}
                        <tr>
                            <td>
                                <label class="small-check">
                                    <input type="checkbox">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td>
                                <a class="lien chargement-au-click" href="{% url 'module_vente_details_facture' item.id %}">{{ item.numero_facture }}</a>
                            </td>
                            <td>
                                <a class="lien chargement-au-click" href="{% url 'module_vente_details_client' item.order.client_id %}">{{ item.order.client.nom_complet }}</a>
                            </td>
                            <td> {{ item.date_facturation|date:"d/m/Y" }} </td>
                            <td> {{ item.date_echeance|date:"d/m/Y" }} </td>
                            <td> {{ item.montant |monetary}} {{ item.order.devise.symbole_devise }}</td>
                            <td> {{ item.montant_restant |monetary}} {{ item.order.devise.symbole_devise }}</td>
                            <td> {{ item.est_solde }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    {
                        extends: 'copyHtml5',
                        text: "<span class='mdi mdi-content-copy' style='font-size:1rem;color:#424892;'></span> Copy",
                        titleAttr: "Copier"
                    },
                    {
                        extends: 'excelHtml5',
                        text: "<span class='mdi mdi-file-excel' style='font-size:1rem;color:#236e43;'></span> Excel",
                        titleAttr: "Exporter en excel"
                    },
                    {
                        extends: 'csvHtml5',
                        text: "<span class='mdi mdi-file-outline' style='font-size:1rem;color:#9c27b0;'></span> CSV",
                        titleAttr: "Exporter en csv"
                    },
                    {
                        extends: 'pdfHtml5',
                        text: "<span class='mdi mdi-file-pdf' style='font-size:1rem;color:#f44336;'></span> PDF",
                        titleAttr: "Exporter en pdf"
                    },
                    //'copyHtml5',
                    //'excelHtml5',
                    //'csvHtml5',
                    //'pdfHtml5'
                ]
            } );
        } );
    </script>

{% endblock %}