{% extends "ErpProject/ModuleBudget/shared/layout.html" %} {% block page %}
{% load account_filters %}
{%load static %}
<style>
    h6{
        font-weight: 900;
        font-size:14px;
    }
</style>

<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="leaf" href="{% url 'module_budget_tableau_de_bord' %}">Module budget</a></li>
        <li>{{ title }}</li>
    </ul>
</div>

<div class="row" style="padding-top: 30px;">
    <div class="col-lg-12">
        <h2>{{title}}</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>
        <div class="panel panel-default" style="border: none;">
            <div class="panel panel-body" style=    "background-color:#f5f5f5;border: none;border-radius: none;"><br>
                <div class="row">
                    <!-- {% if validation != True %}
                    <div class="col-md-2">
                        <button style="width: 100%;"
                            onclick="javascript:window.location.assign('{% url 'module_budget_add_budget' %}?type={{type_budget.id}}')"
                            class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click primary_color_{{ module.name|lower }}">
                            Créer
                        </button>
                    </div>
                    {% endif %} -->
                    <div class="col-md-3">
                        <div id="btn-view" data-role="group" data-group-type="one-state">
                            <button id="btn-tree"
                                onclick="javascript:window.location.assign('{% url 'module_budget_list_budget_depense' %}?view=list&list={{type}}')"
                                class="button btn-typeview btn-secondary {% if view == "list" %}{{ "active" }}{% endif %}">
                                <span class="mif-list"></span></button>
                            <button id="btn-kanban"
                                onclick="javascript:window.location.assign('{% url 'module_budget_list_budget_depense' %}?view=kanban&list={{type}}')"
                                class="button btn-typeview btn-secondary {% if view == "kanban" %}{{ "active" }}{% endif %}">
                                <span class="mif-apps"></span></button>
                        </div>
                    </div>
                </div>


                <hr class="hr-ligne">
                    <!-- Appel de la fonction message -->
                    {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
                <br>


                <!-- <h3>Montant total :  {{somme_total}} {{ladevise}}</h3> -->
                <!--DEBUT MODIFICATION  -->
                <h4>BUDGET :  {{budget_depense.initial|monetary}} {{budget_depense.devise}}</h4>
                <h6>ENGAGE :  {{budget_depense.engagement|monetary }} {{budget_depense.devise}}</h6>
                <h6>REALISE :  {{budget_depense.reel |monetary}} {{budget_depense.devise}}</h6>
                <h6>DISPONIBLE :  {{budget_depense.disponible |monetary}} {{budget_depense.devise}}</h6>


                {% if view == "list" %}
                <div id="list-view" class="row" style="margin-top: 10px;">
                    <table id="data_table" class="display nowrap border bordered striped" style="width:100%">
                        <thead>
                            <tr>
                                <!-- <th style="width: 20px; background-color:#2e416a; white"></th>
                                <th>Désignation</th>
                                <th>Catégorie</th>
                                <th>Montant alloué</th>
                                <th>Montant affecté</th>
                                <th>Montant depensé</th> -->
                                <th style="width: 20px; background-color:#2e416a; white"></th>
                                <th>Combinaison</th>
                                <th>Compte</th>
                                <th>Description</th>
                                <th>Budget Initial</th>
                                <th>Montant Engagé</th>
                                <th>Montant Realisé</th>
                                <th>Montant Disponible</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in model %}
                                <tr>
                                    <td>
                                        <label class="small-check">
                                            <input type="checkbox">
                                            <span class="check"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <a class="lien chargement-au-click" href="{% url 'module_budget_detail_ligne_budgetaire' item.id %}">
                                            {{ item.code }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if item.compte.numero != None %}
                                            {{ item.compte.numero }}
                                        {% endif %}
                                    </td>
                                    <td>
                                         {{ item.designation }}
                                    </td>

                                    <td>
                                        {{ item.separateur_montant_alloue |monetary}} {{item.budget.devise.symbole_devise}}
                                    </td>
                                    <td>
                                       {{ item.separateur_valeur_engagement |monetary}} {{item.budget.devise.symbole_devise}}
                                    </td>
                                    <td>
                                        {{ item.separateur_valeur_reel |monetary}} {{item.budget.devise.symbole_devise}}
                                     </td>
                                     <td>
                                        {{ item.separateur_valeur_solde |monetary}} {{item.budget.devise.symbole_devise}}
                                     </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% elif view == "kanban" %}
                <!-- Vue de type card-->
                <div id="kanban-view" class="row" style="margin-top:10px;">
                    {% for item in model %}
                    <div class="col-md-4">
                        <div class="card-item" style="margin-top: 10px; margin-bottom: 15px">
                            <div class="card-item-content">
                                <div class="thumb">
                                </div>
                                <div class="texts">
                                    <a class="link chargement-au-click"
                                        href="">
                                         {{ item.code }}
                                    </a><br>
                                    <div class="mt-2"></div>
                                    <span class="inner-text">Désignation :
                                        {{ item.designation }}</span><br>
                                    <span class="inner-text">Montant Budget : {{ item.separateur_montant_alloue |monetary}} {{item.budget.devise.symbole_devise}}</span><br>
                                    <span class="inner-text">Montant Engagé: {{ item.separateur_valeur_engagement |monetary}} {{item.budget.devise.symbole_devise}}</span><br>
                                    <span class="inner-text">Montant Realisé: {{ item.separateur_valeur_total_consommee |monetary}} {{item.budget.devise.symbole_devise}} </span><br>
                                    <span class="inner-text"> Montant Disponible: {{ item.separateur_valeur_solde |monetary}} {{item.budget.devise.symbole_devise}} </span><br>
                                    <br>
                                    <a href=""
                                        class="mt-3 btn btn-block btn-wide rounded chargement-au-click">voir detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<!-- Appel widget datatable -->
{% include 'ErpProject/ErpBackOffice/widget/datatable.html' with type_view=view %}
{% endblock %}