{% extends "ErpProject/ModuleRessourcesHumaines/shared/layout.html" %}
{% block page %}
    <ul class="breadcrumbs2 small">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_ressources_humaines_home' %}">Module Ressources humaines</a></li>
        <li>{{ title }}</li>
    </ul>
    <div class="row">
        <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary">Valider</button>
        <button class="theme-btn theme-btn-sm rounded chargement-au-click" onclick="javascript:window.location.assign('{% url 'module_achat_list_reglement' %}')" style="margin-left: 5px">Annuler</button>
    </div>
    <hr class="hr-ligne">
    <div class="row" style="margin-top: 10px">
        <p class="header">{{ title }}</p>
    </div>
    <hr class="hr-ligne">
    <!-- Appel de la fonction message -->
        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
    <br>
    
    <div class="row cells3 item-content" style="margin-top: 10px">
        <div class="cell">
            <form id="form" method="POST" action="{% url 'module_redevance_post_modifier_configuration' %}"
                data-role="validator" 
                data-show-required-state="false"
                data-hint-mode="line"
                data-hint-background="bg-red"
                data-hint-color="fg-white"
                data-hide-error="5000"
                novalidate="novalidate"
                data-on-error-input="notifyOnErrorInput"
                data-show-error-hint="false">
                {% csrf_token %}
                <input id="submit" type="submit" style="display: none">                
                <div class="row">
                    <label>Désignation</label>
                    <div class="input-control text full-size" data-role="input">
                        <input name="designation" type="text" data-validate-func="required" data-validate-hint="Entrez la désignation de la catégorie !">
                        <span class="input-state-error mif-warning"></span>
                        <span class="input-state-success mif-checkmark"></span>
                    </div>
                </div>
            </form>
        </div>        
    </div>
{% endblock %}