
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="Rapport Balance générale">
        <meta name="author" content="Faberman">
    </head>
    {% load account_filters %}{% load humanize %}

    <body>
        <div id="invoice_custom">
            <h2 class="align-center header"></h2>
            <span class="date-text">Le {% now " d/m/Y" %}</span>

            <div class="row item-content" style="margin-top: 20px" style="padding-top: 30px">
                <div id="divToprint" class="row item-content" style="margin-top: 20px" style="padding-top: 30px">
                    <p>ARPCE</p>
                    <P>Boite Postale: B.P 2490</P>
                    <p style="margin-left:5%;">Ville: Brazzaville</p>
                    <p class="align-center header">{{title}}</p>
                    <br>
                    <p class="align-center">{{ lot.date_fin|date:"M Y" }} N° d'Ordre {{lot.id}}</p>
                    <br>
                    <h5>CNSS Brazzaville</h5>
                    <table id="rapport" class="table bordered no-margin" style="width:100%;">
                        <tr>
                            <th width="5%" rowspan="2">N°</th>
                            <th width="20%" rowspan="2">Nom et Prénoms</th>
                            <th width="5%" rowspan="2">Matricule CNSS</th>
                            <th width="10%" rowspan="2">Salaire Brut</th>
                            <th width="10%" rowspan="2">Salaire Brut imposable</th>
                            <th width="10%" rowspan="2">s/plafonné PVD 1.200.000/mois 14.400.000/an</th>
                            <th width="8%" rowspan="2">s/plafonné AF.AT/MP 600.000/mois 7.200.000/an</th>
                            <td colspan="2" class="pos">Cotisation PVD</td>
                            <th width="7%" rowspan="2">Cotisation AF (10.03%)</th>
                            <th width="5%" rowspan="2">Cotisation AT/MP (2.25%)</th>
                            <th width="10%" rowspan="2">TOTAl (24.28%)</th>
                        </tr>
                        <tr>
                            <th width="8%">Part patronale (8%)</th>
                            <th width="8%">Part employé (4%)</th>
                        </tr>
                        {% for item in models %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.employe}}</td>
                            <td>{{item.matricule}}</td>
                            <td>{{item.salbrut|monetary}}</td>
                            <td>{{item.salbrutimpo|monetary}}</td>
                            <td>{{item.base_pvid|monetary}}</td>
                            <td>{{item.base_atmp|monetary}}</td>
                            <td>{{item.cnss_pat|monetary}}</td>
                            <td>{{item.cnss_sal|monetary}}</td>
                            <td>{{item.cnss_af|monetary}}</td>
                            <td>{{item.cnss_atmp|monetary}}</td>
                            <td>{{item.total_af_atmp|monetary}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>