{% extends "ErpProject/ErpBackOffice/shared/layout.html" %}

{% block content %}
    {%load static %}
    <div class="container">
		<div class="row" style="display:block; height: 250px; background-image: url('/static/ErpProject/image/erp.jpg'); background-size: 100% 100%; background-position: center"></div>
		<div class="row padding20 no-padding-left no-padding-right">
			<h1>
                Désolé !
                <br><br>
                Cet Utilisateur n'a aucun role attribué.
            </h1>
		</div>
	</div>
{% endblock %}