<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="Rapport">
        <meta name="author" content="Faberman">
        <style>
            #rapport th
            {
                text-align: center;
                vertical-align: middle;
            }
            .title{
                font-size: 17px;
                font-weight: 800;
            }
        </style>
    </head>
    {% load account_filters %}{% load humanize %}{%load static %}{%load static %}
    <body>
        <!-- <hr class="hr-ligne"> -->
        <div id="divToprint" class="row item-content" style="margin-top: 20px" style="padding-top: 30px">
            <table id="rapport" class="table no-margin" style="width:100%;">
                <tr>
                    <th width="30%" style="border:1px solid#999999;border-right: 0px solid;">
                        <div style="height: 150px;">
                            <div class="row" style="margin-bottom:9%;margin-top:10%;">
                                <div class="col-md-6" style="padding: 0px;width: 30% !important;">
                                    <img src="{% static 'ErpProject/image/logo_arpce.png' %}" id="p1dimg1" style="height:50%;width:50%;">
                                </div>
                                <div class="col-md-6" style="text-align:left;">
                                    <span style="font-size:12px;">ARPCE</span> <br>
                                    <span style="font-size:12px;">B.P. 2490</span> <br>
                                    <span style="font-size:12px;">Brazzaville</strong>
                                </div>
                            </div>
                            <div style="margin-bottom:6%;text-align: left;">Direction Générale</div>
                            <div style="text-align: left;">Direction Admiistrative, Financi  ère et Comptable <br>
                            Siege ARPCE</div>
                        </div>
                    </th>
                    <th width="40%" style="border: 1px solid#999999;border-left: 0px solid;border-right: 0px solid;">
                        <div style="margin-bottom:2%;text-align: center;">
                            <strong style="font-size:14px;">{{title}}</strong>
                        </div>
                    </th>
                    <th width="30%" style="vertical-align: middle;border: 1px solid#999999;border-left: 0px solid;text-align:left;">
                        <span style="font-size:11px;">{{model.lot}}</span><br>
                        <br>
                        <p>Période du: {{ model.lot.date_debut|date:"d/m/Y" }}</p>
                        <p>Au: {{ model.lot.date_fin|date:"d/m/Y" }}</p>
                    </th>
                </tr>
            </table>
            <!-- <p class="align-center header">{{title}}</p> -->
            <br>
            <br>
            <table id="rapport" class="table bordered no-margin" style="width:100%;">
                <tr style="border:0.5px solid #999999;">
                    <div class="row" style="border:0.5px solid #999999;padding:1%;">
                        <div class="col-md-4">
                            <span>Nom et Prénom: <strong>{{ model.employe.nom_complet }}</strong></span><br>
                            <span>Matricule CNSS: <strong>{{ employe.profilrh.numero_ss }}</strong></span><br>
                            <span>Emploi:</span> <strong>{{ employe.poste.designation }}</strong><br>
                            <span>Classification: <strong>{{ employe.categorie_employe }}</strong></span>
                        </div>
                        <div class="col-md-4">
                            <span>Matricule: <strong>{{ employe.profilrh.matricule }}</strong></span><br>
                            <span>Recruté(e) le: <strong>{{ employe.profilrh.date_engagement|date:"d/m/Y" }}</strong></span><br>
                        </div>
                        <div class="col-md-4">
                            <span>Situation Matrimoniale: <strong>{{ employe.profilrh.etat_civil }}</strong></span><br>
                            <span>Parts: <strong>{{ employe.nombre_parts }}</strong></span><br>
                            <span>Nb Enfants: <strong>{{ employe.nombre_enfants }}</strong></span><br>
                        </div>

                    </div>
                </tr>
                <tr>
                    <th width="10%">Code</th>
                    <th width="50%">Libellé</th>
                    <th width="10%">Base</th>
                    <th width="10%">Taux/NB</th>
                    <th width="10%">Gain</th>
                    <th width="10%">Retenue</th>
                </tr>
                {% for item in item_bulletins %}
                    {% if item.rubrique.type_rubrique == 1 and item.rubrique.type_element == 1 and item.montant != 0.0 %}
                    <tr style="border-bottom: 2px solid #fff;">
                        <td style="border-right: 2px solid #fff;">{{ item.rubrique.code }}</td>
                        <td>{{ item.designation }}</td>
                        <td></td>
                        <td></td>
                        <td>{{ item.montant|monetary }}</td>
                        <td></td>
                    </tr>
                    {% elif item.rubrique.reference == "SALBRUT" %}
                    <tr style="border-bottom: 2px solid #fff;">
                        <td colspan="2"><strong style="margin-left:35%;">{{ item.designation }}</strong></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{ item.montant|monetary }}</strong></td>
                        <td></td>
                    </tr>
                    {% elif item.rubrique.type_rubrique == 3 and item.rubrique.type_element == 1 and item.montant != 0.0 %}
                    <tr style="border-bottom: 2px solid #fff;">
                        <td style="border-right: 2px solid #fff;">{{ item.rubrique.code }}</td>
                        <td>{{ item.designation }}</td>
                        <td></td>
                        <td></td>
                        <td>{{ item.montant|monetary }}</td>
                        <td></td>
                    </tr>
                    {% elif item.rubrique.type_element == 2 and item.montant != 0.0 %}
                    <tr style="border-bottom: 2px solid #fff;">
                        <td style="border-right: 2px solid #fff;">{{ item.rubrique.code }}</td>
                        <td>{{ item.designation }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ item.montant|monetary }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr style="border-top: 2.5px solid #999999;">
                    <th colspan="4" style="text-align:end;">Total</th>
                    <th>{% for item in item_bulletins %}{% if item.rubrique.reference == "TOTGAIN" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</th>
                    <th>{% for item in item_bulletins %}{% if item.rubrique.reference == "TOTRET" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</th>
                </tr>
                <tr>
                    <th colspan="4" style="text-align:end;">Net à payer</th>
                    <th colspan="2">{% for item in item_bulletins %}{% if item.rubrique.reference == "NETAPAY" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</th>
                </tr>
            </table>
            <table id="rapport" class="table bordered no-margin" style="width:100%;">
                <tr style="border-bottom: 2px solid #fff;">
                    <div class="row" style="border:0.5px solid #999999;padding:1%;">
                        <div class="col-md-3" style="vertical-align: middle;">
                           Compte N°
                        </div>
                        <div class="col-md-9">
                            <span>Virement bancaire </span> <br>
                            <span>10000023584523 98</span> <br>
                            <span>BANQUE CONGOLAISE DE l'HABITAT</span> <br>
                        </div>
                    </div>
                </tr>
            </table>
            <br>
            <br>
            <table id="rapport" class="table bordered no-margin" style="width:80%;">
                <tr>
                    <th>Cumul brut taxable</th>
                    <th>Cumul cotisation retraite</th>
                    <th>Cumul net taxe IRPP</th>
                    <th>Cumul IRPP</th>
                </tr>
                <tr>
                    <td>{% for item in item_bulletins %}{% if item.rubrique.reference == "CUMBRUTAX" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</td>
                    <td>{% for item in item_bulletins %}{% if item.rubrique.reference == "CUMCOTRET" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</td>
                    <td>{% for item in item_bulletins %}{% if item.rubrique.reference == "CUMNETIRPP" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</td>
                    <td>{% for item in item_bulletins %}{% if item.rubrique.reference == "CUMIRPP" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</td>
                </tr>
                <tr>
                    <th>Base des congés</th>
                    <th>Nbre jours présence</th>
                    <th>Jours Congés acquis</th>
                </tr>
                <tr>
                    <td>{% for item in item_bulletins %}{% if item.rubrique.reference == "CUMBASCONGE" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</td>
                    <td>{% for item in item_bulletins %}{% if item.rubrique.reference == "CUMPRESENCE" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</td>
                    <td>{% for item in item_bulletins %}{% if item.rubrique.reference == "CUMJRSCONGES" %}{{ item.montant|monetary }}{% endif %}{% endfor %}</td>
                </tr>
            </table>
            <br>
            <br>

        </div>
    </body>
</html>