{% extends "ErpProject/ModuleConfiguration/shared/layout.html" %}
{% block page %}
<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_configuration_dashboard' %}">Accueil</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_Configuration_list_permission' %}">Liste des permissions</a></li>
        <li>{{ title }}</li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>

        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                <div class="row ">
                    <button onclick="javascript:window.location.assign('{% url 'module_Configuration_update_permission' permission.id %}')" class="theme-btn theme-btn-sm rounded chargement-au-click primary_color_{{module.name|lower}}">
                        Modifier
                    </button>
                    <button onclick="javascript:window.location.assign('{% url 'module_Configuration_list_permission' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                </div>
                

                <hr class="hr-ligne">


                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="row" style="margin:10px 0">
                                <div class="row cells12 padding10 fg-white" style="background-color:#ff6a00;">
                                    <div class="cell colspan3" style="width: 32px;">
                                        <span class="mif-info mif-2x"></span>
                                    </div>
                                    <div class="cell colspan9" style="margin-left: 10px">
                                        <span class="notify-title"><b>Information :</b></span><br>
                                        <span class="notify-text">
                                            {{ message }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="row" style="margin:10px 0">
                                <div class="row cells12 padding10 fg-white" style="background-color:#36D900;">
                                    <div class="cell colspan3" style="width: 32px;">
                                        <span class="mif-info mif-2x"></span>
                                    </div>
                                    <div class="cell colspan9" style="margin-left: 10px">
                                        <span class="notify-title"><b>Information :</b></span><br>
                                        <span class="notify-text">
                                            {{ message }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row padding20 no-padding-top no-padding-bottom" style="border-right: 1px solid #f7f5f5;">
                                    <p>
                    
            Sous-Module :
                    <br>
                    <span class="sub-alt-header">{{ permission.sous_module.nom_sous_module }}</span>
                    <br>
                    <br>
            
            Designation :
                    <br>
                    <span class="sub-alt-header">{{ permission.designation }}</span>
                    <br>
                    <br>
            
            Numéro :
                    <br>
                    <span class="sub-alt-header">{{ permission.numero }}</span>
                    <br>
                    <br>
            
        </p>
                                </div>
                            </div>
                        </div>

           {% endblock %}}