{% extends "ErpProject/ModuleAchat/shared/layout.html" %}
{% block page %}
{% load account_filters %} 
    <ul class="breadcrumbs2 small">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_achat_list_articles' %}">Module Achat</a></li>
        <li>{{ title }}</li>
    </ul>
        
    <div class="row">
        <button onclick="javascript:window.location.assign('{% url 'module_achat_add_article' %}')" class="button small-button rounded primary chargement-au-click">Créer</button>
    </div>
    
    <hr class="hr-ligne">
    <!-- Appel de la fonction message -->
        {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
    <br>
    

    <div class="row" style="margin-top: 10px">
        <table id="example" class="display nowrap border bordered striped" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 20px"></th>
                    <th>Référence</th>
                    <th>Designation</th>
                    <th>Prix de vente</th>
                    <th>Catégorie</th>
                    <th>Type d'article</th>
                    <th>Quantité en stock</th>
                    <th>Quantité prévue</th>
                </tr>
            </thead>
            <tbody>
                {% for item in model %}
                    <tr>
                        <td>
                            <label class="small-check">
                                <input type="checkbox">
                                <span class="check"></span>
                            </label>
                        </td>
                        <td> 
                            <a class="lien chargement-au-click" href="{% url 'module_achat_details_article' item.id %}">{{ item.code_article }}</a> 
                        </td>
                        <td> {{ item.designation }} </td>
                        <td> {{ item.prix_unitaire |monetary}} {{ devise_ref.symbole_devise }} </td>
                        <td> {{ item.categorie.designation }} </td>
                        <td> 
                            {% for type_article in types_article %}
                                {% if type_article.id == item.type_article %}
                                    {{ type_article.designation }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td> {{ item.quantite_stock }} {{ item.unite.symbole_unite }}</td>
                        <td> {{ item.quantite_prevue }} {{ item.unite.symbole_unite }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: "<span class='mdi mdi-content-copy' style='font-size:1rem;color:#424892;'></span> Copy",
                        titleAttr: "Copier"
                    },
                    {
                        extend: 'excelHtml5',
                        text: "<span class='mdi mdi-file-excel' style='font-size:1rem;color:#236e43;'></span> Excel",
                        titleAttr: "Exporter en excel"
                    },
                    {
                        extend: 'csvHtml5',
                        text: "<span class='mdi mdi-file-outline' style='font-size:1rem;color:#9c27b0;'></span> CSV",
                        titleAttr: "Exporter en csv"
                    },
                    {
                        extend: 'pdfHtml5',
                        text: "<span class='mdi mdi-file-pdf' style='font-size:1rem;color:#f44336;'></span> PDF",
                        titleAttr: "Exporter en pdf"
                    },
                    //'copyHtml5',
                    //'excelHtml5',
                    //'csvHtml5',
                    //'pdfHtml5'
                ]
            } );
        } );
    </script>
{% endblock %}