{% extends "ErpProject/ModuleVente/shared/layout.html" %}
    {% block page %}
        {%load static %}
        {% load account_filters %}
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
                <li><a class="chargement-au-click" href="{% url 'module_vente_tableau_de_bord' %}">Module Vente</a></li>
                <li>{{ title }}</li>
            </ul>
        </div>
        <div class="row">
            <button onclick="printScreen();" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer</button>
            <button id="btn_export" class="theme-btn theme-btn-sm rounded chargement-au-click">Exporter en Excel</button>
            <button onclick="javascript:window.location.assign('{% url 'module_vente_generer_balance_client' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click">Retour</button>
        </div>
        <hr class="hr-ligne">
        <div id="divToPrint" class="row item-content" style="margin-top: 20px" style="padding-top: 30px">
            <p class="align-center header">{{ title }}</p>
            <div class="row">
                <p>
                    Période :<br>
                    <span class="sub-header">Du {{ date_debut }} au {{ date_fin }} </span>
                    <br>
                    <br>
                    Devise :<br>
                    <span class="sub-header">{{ devise.designation }}</span>
                </p>
            </div>
            <br>
            <br>
            <table id="rapport" class="table bordered no-margin" style="width: 950px">
                <tr style="background-color:#f1f1f1">
                    <th width="8%">No du Compte</th>
                    <th width="20%">Intitulé du compte</th>
                    <th width="18%">Cumul débit</th>
                    <th width="18%">Cumul crédit</th>
                    <th width="18%">Solde débit</th>
                    <th width="18%">Solde crédit</th>
                </tr>
                {% for item in model %}
                    <tr>
                        <!-- <tr style="background-color: red;"> -->
                        <td width="8%">{{ item.numero_compte }}</td>
                        <td width="20%">{{ item.designation_compte }}</td>
                        <td style="text-align: right" width="18%">{% if item.debit_mouvement != "0.00" %} {{ item.debit_mouvement|monetary }} {% endif %}</td>
                        <td style="text-align: right" width="18%">{% if item.credit_mouvement != "0.00" %} {{ item.credit_mouvement|monetary }} {% endif %}</td>
                        <td style="text-align: right" width="18%">{% if item.debit_solde != "0.00" %} {{ item.debit_solde|monetary }} {% endif %}</td>
                        <td style="text-align: right" width="18%">{% if item.credit_solde != "0.00" %} {{ item.credit_solde|monetary }} {% endif %}</td>
                    </tr>
                {% endfor %}
                <tr style="background-color:#ffb871;font-style: normal;font-weight: 700;">
                    <th colspan="2">TOTAL CLASSE 4</th>
                    <th style="text-align: right">{{ equilibre_debit_mouvement|monetary }}</th>
                    <th style="text-align: right">{{ equilibre_credit_mouvement|monetary }}</th>
                    <th style="text-align: right">{{ equilibre_debit_solde|monetary }}</th>
                    <th style="text-align: right">{{ equilibre_credit_solde|monetary }}</th>
                </tr>
                <tr><td colspan="6" style="border-left: none!important; border-right: none!important;"></td></tr>
                <tr style="background-color:#f1f1f1;font-style: normal;font-weight: 700;">
                    <th colspan="2">TOTAL BALANCE</th>
                    <th style="text-align: right">{{ equilibre_debit_mouvement|monetary }}</th>
                    <th style="text-align: right">{{ equilibre_credit_mouvement|monetary }}</th>
                    <th style="text-align: right">{{ equilibre_debit_solde|monetary }}</th>
                    <th style="text-align: right">{{ equilibre_credit_solde|monetary }}</th>
                </tr>
            </table>
        </div>
        <button type="button" id="lancermodal" data-toggle="modal" data-target="#monmodal" style="display: none;">executer</button>
        <div id="monmodal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <center>
                            <iframe id="iframemodal" frameborder="0" style="width: 98%;" height="500" ></iframe>
                        </center><hr>
                        <center>
                            <button type="button" class="btn btn-danger" onclick="close();">FERMER</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{% static 'ErpProject/js/pdf/print.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/jspdf.debug.js' %}"></script>
        <script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/cell.js' %}"></script>
        <script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/jspdf.plugin.autotable.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/from_html.js' %}"></script>
        <script type="text/javascript" src="{% static 'ErpProject/js/pdf/libs/html2canvas.min.js' %}"></script>
        <script>
            var equilibre_credit = 0;
            var equilibre_debit = 0;
            var devise = "";

            {% for item in model %}
                equilibre_debit += parseFloat("{{ item.debit }}");
                equilibre_credit += parseFloat("{{ item.credit }}");
            {% endfor %}

            $(document).ready(function(){
                $("#equilibre_credit").text(equilibre_credit.toFixed(2));
                $("#equilibre_debit").text(equilibre_debit.toFixed(2));
            });

            function printScreen() {
                const filename  = 'journal.pdf';

                /*var pdf = new jsPDF('p', 'pt', 'a4');
                pdf.addHTML(document.getElementById('divToPrint'), 25, 50, {
                    retina: true,
                    pagesplit: true,
                    margin: {
                    top: 50,
                    right: 25,
                    bottom: 50,
                    left: 25,
                    useFor: 'page' // This property is mandatory to keep the margin to supsequent pages
                    }
                }, function() {
                    pdf.save('test.pdf');
                });*/

                var pdf = new jsPDF('l', 'pt', 'letter');
                pdf.html($('#divToPrint')[0], {
                    callback: function (pdf) {
                        //pdf.save();
                        //headerFooterFormatting(pdf, pdf.internal.getNumberOfPages());
                        var string = pdf.output('datauristring');
                        $('#iframemodal').attr('src', string);
                        $('#lancermodal').click();
                    }
                });

                /*html2canvas(document.querySelector('#divToPrint')).then(canvas => {
                    let pdf = new jsPDF('p', 'mm', 'a4');
                    pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, 211, 298);
                    pdf.save(filename);
                });*/

                //Imprimer avec plus de fonctionnalités sur sheetjs

                margins = {
                    top: 70,
                    bottom: 40,
                    left: 30,
                    width: 550
                };

                /*var pdf = new jsPDF('p', 'pt', 'a4');
                pdf.setFontSize(18);
                pdf.fromHTML(document.getElementById('divToPrint'),
                    margins.left, // x coord
                    margins.top,
                    {
                        // y coord
                        width: margins.width// max width of content on PDF
                    },function(dispose) {
                        headerFooterFormatting(pdf, pdf.internal.getNumberOfPages());
                    },
                    margins);

                //pdf.save();
                var string = pdf.output('datauristring');
                $('#iframemodal').attr('src', string);
                $('#lancermodal').click();*/
            }
            var base64Img = null;
            imgToBase64('{% static 'ErpProject/image/logo_arpce_large.png' %}', function(base64) {
                base64Img = base64;
            });

            //Fonction to convert image to base64
            function imgToBase64(url, callback, imgVariable) {
                if (!window.FileReader) {
                    callback(null);
                    return;
                }
                var xhr = new XMLHttpRequest();
                xhr.responseType = 'blob';
                xhr.onload = function() {
                    var reader = new FileReader();
                    reader.onloadend = function() {
                        imgVariable = reader.result.replace('text/xml', 'image/jpeg');
                        callback(imgVariable);
                    };
                    reader.readAsDataURL(xhr.response);
                };
                xhr.open('GET', url);
                xhr.send();
            };

            //Fonction pour le header
            function header(doc)
            {
                doc.setFontSize(30);
                doc.setTextColor(40);
                doc.setFontStyle('normal');
                if (base64Img) {
                    doc.addImage(base64Img, 'JPEG', margins.left, 10, 40,40);
                }
                doc.text("Report Header Template", margins.left + 50, 40 );
                doc.setLineCap(2);
                doc.line(3, 70, margins.width + 43,70); // horizontal line
            };

            //Fonction pour le footer
            function footer(doc, pageNumber, totalPages){
                var str = "Page " + pageNumber + " of " + totalPages
                doc.setFontSize(10);
                doc.text(str, margins.left, doc.internal.pageSize.height - 20);
            };

            //Fonction de configuration pour le header et footer
            function headerFooterFormatting(doc, totalPages)
            {
                for(var i = totalPages; i >= 1; i--)
                {
                    doc.setPage(i);
                    //header
                    header(doc);
                    footer(doc, i, totalPages);
                    doc.page++;
                }
            };

            //Exporter en Excel
            var wb = XLSX.utils.table_to_book(document.getElementById('rapport'), {sheet:"Sheet JS"});
            var wopts = { bookType:'xlsx', bookSST:true, type: 'binary' };
            var wbout = XLSX.write(wb, wopts);
            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }
            $("#btn_export").click(function(){
                console.log("btn_export cliquee");
                saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'test.xlsx');
            });
        </script>
{% endblock %}