{% extends "ErpProject/ModuleConfiguration/shared/layout.html" %}
{% block page %}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a><span class="mif-home"></span></a></li>
            <li><a class="chargement-au-click" href="{% url 'module_configuration_generate_test' %}">Générer Test Modele</a></li>
        </ul>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <h2>Générer Test Unitaire Modele</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
            
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>
            
        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">

                <div class="row">
                    <div class="col-md-2">
{% include 'ErpProject/ErpBackOffice/widget/submitButton.html' with  id="btnSubmit" class="button small-button rounded primary_color_{{module.name|lower}}" val="Valider"%}
                    </div>
                    <div class="col-md-2">
                        <button style="width: 100%;" onclick="javascript:window.location.assign('{% url 'module_configuration_list_modules' %}')" class="button small-button rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                    </div>
                </div>

                <hr />

                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="row" style="margin:10px 0">
                                <div class="row cells12 padding10 fg-white" style="background-color:#ff6a00;">
                                    <div class="cell colspan3" style="width: 32px;">
                                        <span class="mif-info mif-2x"></span>
                                    </div>
                                    <div class="cell colspan9" style="margin-left: 10px">
                                        <span class="notify-title"><b>Information :</b></span><br>
                                        <span class="notify-text">
                                            {{ message }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="row" style="margin:10px 0">
                                <div class="row cells12 padding10 fg-white" style="background-color:#36D900;">
                                    <div class="cell colspan3" style="width: 32px;">
                                        <span class="mif-info mif-2x"></span>
                                    </div>
                                    <div class="cell colspan9" style="margin-left: 10px">
                                        <span class="notify-title"><b>Information :</b></span><br>
                                        <span class="notify-text">
                                            {{ message }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="row" style="margin-top: 10px">
                    <div class="col-xs-12">  
                        <form id="form" method="POST" action="{% url 'module_configuration_post_generate_test' %}"
                            data-role="validator" 
                            data-show-required-state="false"
                            data-hint-mode="line"
                            data-hint-background="bg-red"
                            data-hint-color="fg-white"
                            data-hide-error="5000"
                            novalidate="novalidate"
                            data-on-error-input="notifyOnErrorInput"
                            data-show-error-hint="false">
                            {% csrf_token %}
                            <input id="submit" type="submit" style="display: none">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nom du module</label>
                                    <div class="input-control text full-size" data-role="input">
                                        <input class="form-control" name="nom_module" type="text" data-validate-func="required" data-validate-hint="Entrez le nom du module !">
                                        <span class="input-state-error mif-warning"></span>
                                        <span class="input-state-success mif-checkmark"></span>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table no-margin">
                                        <thead class="no-border">
                                            <tr>
                                                <th class="no-padding-top no-padding-left no-padding-bottom" width="100%">Nom du Modele
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="items">
                                            <tr id="ligne1">
                                                <td class="no-padding-top no-padding-left no-padding-bottom">
                                                    <input id="id1" type="hidden" value="0" />
                                                    <div class="input-control text full-size">
                                                        <input id="name_modele1" name="name_modele" type="text" placeholder="Renseignez le nom de votre modele    Ex: article...">
                                                        <span class="prepend-icon" style="margin-left:75%">
                                                            <span style="margin-top: 1px;" class="sub-header place-right unite"></span>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <div class="pagination no-border">
                                                        <span class="item" title="Supprimer la ligne" onclick="supprimerLigne(1)"><span class="mif-cross fg-red"></span></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row margin10 no-margin-left no-margin-right">
                                        <button type="button" class="button small-button rounded" id="btnAjouterLigne">Ajouter une ligne</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
        var uniteRef = "";
        var nombreLignes = 1;
        var nombreItems = 0;
        var ligneActuelle = 0;
        var compteur = 1;

        $("#btnAjouterLigne").on("click", function () {
            nombreLignes++;
            compteur++;
            var nouvelleLigne = '<tr id="ligne' + compteur + '">';
            nouvelleLigne += '<td class="no-padding-top no-padding-left no-padding-bottom"><input id="id'+compteur +'" type="hidden" value="0" /><div class="input-control text full-size"><input id="name_modele'+compteur+'" name="name_modele" type="text" placeholder="Renseignez le nom de votre modele"><span class="prepend-icon" style="margin-left:75%"><span style="margin-top: 1px;" class="sub-header place-right unite"></span></span></div></td>';
           nouvelleLigne += '<td class="no-padding-top no-padding-bottom"><div class="pagination no-border"><span class="item" title="Supprimer la ligne" onclick="supprimerLigne('+compteur+')"><span class="mif-cross fg-red"></span></span></div></td></tr>';
    
            $("#items").append(nouvelleLigne);
        });

       

        function supprimerLigne(indice) {
            nombreLignes--;
            $("#ligne" + indice).remove();
        }
        
        /*function renvoyerOptionsFournisseurs()
        {
            var ligne = "";
            for(var i = 0; i < lesFournisseurs.length; i++)
            {
                var fournisseur = lesFournisseurs[i];
                ligne += '<option value="' + fournisseur.id + '">' + fournisseur.nom_complet + '</option>';
            }
            return ligne;
        }*/
    </script>
{% endblock %}