{% extends "ErpProject/ModulePayroll/shared/layout.html" %}
    {% block page %}
        {%load static %}
        {% load account_filters %}
        <style>
            .romove{
                border:none;
            }
        </style>
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
                <li><a class="chargement-au-click" href="{% url 'module_payroll_tableau_de_bord' %}">Module Payroll</a></li>
                <li>{{ title }}</li>
            </ul>
        </div>
        <div class="row">
            <button onclick="javascript:document.getElementById('submit').click()" class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}} chargement-au-click">Imprimer</button>
            <button id="btn_export" class="theme-btn theme-btn-sm rounded chargement-au-click">Exporter en Excel</button>
            <button onclick="javascript:window.location.assign('{% url 'module_payroll_generate_Balance_paie' %}')" class="theme-btn theme-btn-sm rounded chargement-au-click">Retour</button>
        </div>
        <form id="form" method="POST" action="{% url 'module_payroll_to_print_bulletin_individuel' %}">
            {% csrf_token %}
            <input id="submit" type="submit" style="display: none">
            <input type="text" name="date_debut" value="{{ date_debut }}" style="display: none">
            <input type="text" name="date_fin" value="{{ date_fin }}" style="display: none">
            <input type="number" name="devise_id" value="{{ devise.id }}" style="display: none">
            <input type="number" name="groupe" value="{{ groupe }}" style="display: none">
            <input type="text" name="title" value={{title}} style="display: none">
        </form>
        <hr class="hr-ligne">
        <div id="divToprint" class="row item-content" style="margin-top: 20px" style="padding-top: 30px">
            <table id="rapport" border="1" class="table no-margin" style="width:100%;">
                <tr>
                    <td colspan="2" class="romove" style='border-top:none;'>
                        <strong>DESIGNATION DE L'EMPLOYEUR</strong>
                    </td> 
                    <td colspan="11" class="romove" style='border-top:none;padding-left:2%;'>
                        N° D'ORDRE DU BORDEREAU RECAPITULATIF
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="romove" style='border-top:none;'>ARPCE</td>
                    <td colspan="11" class="romove" style='border-top:none;'>Traitement publics et privés, indemnités, émoluments, salaires, pensions et rentes viagère</td>
                </tr>
                <tr>
                    <td colspan="13" class="romove" style='border-top:none;'>B.P 2490</td>
                </tr>
                <tr>
                    <td colspan="13" align="center" class="romove" style='border-top:none;'><strong>BULLETIN INDIVIDUEL</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="romove" style='border-top:none;'><strong>Brazzaville </strong</td>
                    <td  colspan="11" class="romove" style='border-top:none;'><strong>Rémunérations payées au cours de l'année</strong></td>
                </tr>
                <tr>
                    <td colspan="13" align="center" style='border-top:block;'>
                        <strong>DESIGNATION DE LA PERSONNE RETRIBUEE</strong>
                    </td>
                </tr>
                <tr >
                    <td>NOM ET PRENOM</td>
                    <td>EMPLOI</td>
                    <td colspan="3">ADRESSE au 31 décembre Ou derniére adresse connue</td>
                    <td colspan="2">SITUATION DE FAMILLE (1) Au 31 décembre 2013</td>
                    <td colspan="4">Période à laquelle s' appliquent les paiements</td>
                </tr>
                <tr>
                    <td>NGOUALA BIOSSI Emile Euloge</td>
                    <td>Chef de bureau</td>
                    <td colspan="3"></td>
                    <td colspan="2">Célibataire Nombre d'enfant à charge</td>
                    <td colspan="4">Du 01.JAN-20 Au 31-DEC-20</td>
                </tr>
                <tr>
                    <td colspan="13" align="center">
                        <strong> (1) Célibataire, marié, veuf,divorcé ? Pour les fonctionnaires ou militaires, indice au 31 Décembre</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">1. Montant payé en espèces ou crédité en compte en</td>
                    <td colspan="2" align="center"><strong>PERIODE DE</strong></td>
                    <td colspan="4">Colonne réservée</td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td align="center">Présence</td>
                    <td align="center">Congés</td>
                    <td colspan="4">Au Services des Contributions Directs</td>

                </tr>
                <tr>
                    <td colspan="4">Aprés déduction des retenues pour retraite ou sécurité sociale  <br>
                        - avant déduction de l'l.R.P.P. et des retenues pour logement ,nourriture etc <br>
                        (Ce chiffre doit Directes Rappels afférents aux années antérieures à 2012 <br>
                        gratifications, pensions, viagères, etc technicité, prime de rendement, remises,<br>
                         heures supplémentaires,complément spécial,dixième, indemnité de résidence,<br>
                         de fonction, de sujétion,comprendre toutes les sommes imposables :solde de base,</td>
                    <td>0</td>
                    <td></td>
                    <td colspan="4">
                        1.R.P.P dû <br><br><br>
                        R.S <br><br><br>
                        T.P
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="romove">indemnité d'éloignement</td>
                    <td>0</td>
                    <td></td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Total en espèces</td>
                    <td></td>
                    <td></td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td>Avantage en nature : </td>
                    <td colspan="3">- Logement gratuit (a) 20% du salaire brut</td>
                    <td>0</td>
                    <td></td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">Eau, Electricité, Gaz 5% du salaire brut</td>
                    <td>0</td>
                    <td></td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">Téléphone 2% du salaire brut</td>
                    <td>0</td>
                    <td></td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">Voiture 3% du salaire brut</td>
                    <td>0</td>
                    <td></td>
                    <td colspan="4" class="romove" style='border-top:none;'></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">Nourriture 20% du salaire brut</td>
                    <td>0</td>
                    <td></td>
                    <td colspan="4" class="romove" style='border-top:none;'></td>
                </tr>
                <tr>
                    <td colspan="4" class="romove" style='border-top:none;'></td>
                    <td class="romove" style='border-top:none;' style='border-top:none;'>39,611,620</td>
                    <td></td>
                    <td colspan="4" class="romove" style='border-top:none;'></td>
                </tr>
                <tr>
                    <td colspan="4" class="romove" style='border-top:none;'>Montant imposable à l'l.R.P.P. 80% du total ci-dessus</td>
                    <td>"39,611,620"</td>
                    <td></td>
                    <td colspan="4" class="romove" style='border-top:none;'></td>
                </tr>
                <tr>
                    <td colspan="4" class="romove" style='border-top:none;'>l.R.P.P. retenu en 2012</td>
                    <td>"10,059,942"</td>
                    <td></td>
                    <td colspan="4" class="romove" style='border-top:none;'></td>
                </tr>
                <tr>
                    <td colspan="4" class="romove" style='border-top:none;'>T.R. retenue en 2012</td>
                    <td class="romove"></td>
                    <td></td>
                    <td colspan="8" class="romove" style='border-top:none;'></td>
                </tr>
                <tr>
                    <td colspan="4" class="romove" style='border-top:none;'>(a) Le loqement n'est pas qratuit lorsqu'ildonne lieu à retenue</td>
                    <td class="romove"></td>
                    <td></td>
                    <td colspan="7"style='border-top:none;'></td>
                </tr>
                <tr>
                    <td colspan="6" class="romove">
                       <strong>11. Indemnité non imposables</strong>
                    </td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="6" class="romove">(Les administrations civiles ou militaires n'ont pas à remplir ce cadre)</td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="2" >En indiquer la nature et le montant</td>
                    <td>Décès</td>
                    <td></td>
                    <td>Salissure</td>
                    <td></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="2" ></td>
                    <td>Licenciement</td>
                    <td></td>
                    <td>Transport</td>
                    <td></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="2" ></td>
                    <td>Santé</td>
                    <td></td>
                    <td>Panier</td>
                    <td></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="2" ></td>
                    <td>Représentation</td>
                    <td></td>
                    <td>Allocation Fam</td>
                    <td></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="2" ></td>
                    <td>Retraite</td>
                    <td></td>
                    <td>Autres.</td>
                    <td></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="5" align="right">Total</td>
                    <td></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="5"><strong>Ill. Contribuables n'ayant pas la qualité de salarié</strong></td>
                    <td></td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="6">1. Rémunérations des administrateurs des sociétés membres des conseils de direction, de surveillance, commissaires aux comptes, etc? :(tantième, jours de présence, etc?)</td>

                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="6">2. Courtages, commissions et autres rémunérations versées à des courtiers,commissionnaires ou autres intermédiaires</td>

                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="6">3. Honoraires vacations et autres rémunération versées à des avocats, notaires,greffiers, huissiers,</td>

                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="6">expert-comptable, etc.(L'admission de ces sommes en frais généraux de l'entreprise est subordonnée à la orésente déclaration)</td>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="14"><strong>Souche à remettre à l'employé : Monsieur NZIKOU</strong>·</td>
                </tr>
                <tr>
                    <td colspan="14"> <strong>Renseignements fournis à !'Administration et concernant les sommes perçues du au 01/01/2020 au 31/12/2020 </strong></td>
                </tr>
                <tr>
                    <td>PERIODE DE</td>
                    <td>MONTANT BRUT 2012</td>
                    <td>Rappels Années Anterieure</td>
                    <td>Indeminite d'éloignement</td>
                    <td>AVANTAGE EN NATURE Nourriture. </td>
                    <td>AVANTAGE EN NATURE electr. Domesticilé etc. </td>
                    <td colspan="5">Total Brut</td>
                </tr>
                <tr>
                    <td>Présence au congo <br>
                        Conaés
                    </td>
                    <td>27,780,678 <br>
                        3,372,113
                    </td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td>0</td>
                    <td colspan="5">Imposable 80% <br>l.R.P.P. retenu <br>
                        T.R retenu</td>
                </tr>
            </table>
        </div>
        {% include 'ErpProject/ErpBackOffice/widget/export_excel.html' with btn_id="btn_export" table_id="rapport" filename="journal" only %}
{% endblock %}