{% extends "ErpProject/ModuleAchat/shared/layout.html" %} {% block page %}

<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_achat_tableau_de_bord' %}">Module Achat</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_achat_list_categorie_article' %}">Liste des catégories d'article</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_achat_details_categorie_articles' model.id %}">{{ model.designation }}</a></li>
        <li>{{ title }}</li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>
        <strong style="float: right;color: grey;opacity: 0.85;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>
        <div class="panel panel-default" style="border: none;">

            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                <div class="row">
                    <div class="col-md-2">
                        {% include 'ErpProject/ErpBackOffice/widget/submitButton.html' with  id="btnSubmit"  val="Valider"%}
                    </div>
                    <div class="col-md-2">
                        <button style="width: 100%;" onclick="javascript:window.location.assign('{% url 'module_achat_details_categorie_articles' model.id %}')" class="theme-btn theme-btn-sm rounded">
                            Annuler
                        </button>
                    </div>
                </div>

                <hr class="hr-ligne">
                <!-- Appel de la fonction message -->
                    {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
                <br>

                <br>

                <form id="form" method="POST" action="{% url 'module_achat_post_update_categorie_articles' %}" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
                    novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                    {% csrf_token %}
                    <input id="submit" type="submit" style="display: none">
                    <input name="ref" type="hidden" value="{{ model.id }}">
                    
                    <div class="col-md-6">
                        <label>Nom</label>
                        <div class="input-control text full-size" data-role="input">
                            <input name="designation" value="{{ model.designation }}" type="text" data-validate-func="required" data-validate-hint="Entrez la désignation de la categorie !">
                            <span class="input-state-error mif-warning"></span>
                            <span class="input-state-success mif-checkmark"></span>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>


{% endblock %}