{% extends "ErpProject/ModuleArchivage/shared/layout.html" %}
{% block page %}
<div class="row">
    <ul class="breadcrumb">
        <li><a><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_archivage_index' %}">Module Dossier</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_archivage_list_dossier' %}">Liste</a></li>
        <li>{{ title }}</li>
    </ul>
</div>
{% include 'ErpProject/ErpBackOffice/widget/workflow.html' with utilisateur=utilisateur model=model content_type_id=content_type_id historique=historique roles=roles etapes_suivantes=etapes_suivantes url_add="module_archivage_add_dossier" url_detail="module_archivage_detail_dossier" csrf_token=csrf_token module=module type_doc="" only %}

<div class="row">
    <div class="col-lg-12">
        <h2>Aperçu dossier</h2>
        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>

        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">

                <div class="row only-on-small-screen">
                    <h2 class="text-light no-margin-left">{{ title }}</h2>
                </div>


                <div class="row only-on-large-screen">
                    <button  onclick="javascript:window.location.assign('{% url 'module_archivage_update_dossier' dossier.id %}')" class="button small-button rounded primary_color_{{module.name|lower}}">
                        Modifier
                    </button>
                    <button onclick="javascript:window.location.assign('{% url 'module_archivage_list_dossier' %}')" class="button small-button rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                </div>
                <div class="row only-on-small-screen">
                    <button onclick="javascript:window.location.assign('{% url 'module_archivage_update_dossier' dossier.id %}')" class="button large-button rounded primary">Valider</button>
                    <button onclick="javascript:window.location.assign('{% url 'module_archivage_list_dossier' %}')" class="button large-button rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
                </div>

                <hr class="hr-ligne">



                <hr class="hr-ligne">
                <!-- Appel de la fonction message -->
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row padding20 no-padding-top no-padding-bottom" style="border-right: 1px solid #f7f5f5;">
                            <p>

                                Désignation :
                                <br>
                                <span class="sub-alt-header">{{ dossier.designation }}</span>
                                <br>
                                <br>

                                Description :
                                <br>
                                <span class="sub-alt-header">{{ dossier.description }}</span>
                                <br>
                                <br>

                                Dossier parent :
                                <br>
                                <span class="sub-alt-header">{{ dossier.hisdossier }}</span>
                                <br>
                                <br>
                                <!--Url_dossier :
                                    <br>
                                    <span class="sub-alt-header">{{ dossier.url_dossier }}</span>
                                    <br>
                                    <br>-->

                                </p>
                            </div>
                        </div>
                    </div>

                    {% endblock %}}