
{% extends "ErpProject/ModuleRecouvrement/shared/layout.html" %}
{% block page %} {% load humanize %} {%load static %} {% load account_filters %}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="{% url 'backoffice_index' %}"><span class="mif-home"></span></a></li>
        <li><a class="chargement-au-click" href="{% url 'module_recouvrement_index' %}">Module Recouvrement</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_recouvrement_list_action_scenario' %}">Liste des Actions du scénario de relance</a></li>
        <li><a class="chargement-au-click" href="{% url 'module_recouvrement_detail_action_scenario' model.id %}">{{ model }}</a></li>
        <li>{{ title }}</li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>{{ title }}</h2>

        <strong style="float: right;color: grey;opacity: 0.4;margin-top: -30px;">{% now "jS F Y H:i" %}</strong>
        <div class="separ" style="background-color: grey;opacity: 0.2"></div>

        <div class="panel panel-default" style="border: none; margin-top: 1rem;">
            <div class="panel panel-body" style="background-color:#f5f5f5;border: none;border-radius: none;">
                <div class="row">
                    <button onclick="javascript:document.getElementById('submit').click()" class="validate-btn theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}">Valider</button>
                    <button onclick="javascript:window.location.assign('{% url 'module_recouvrement_detail_action_scenario' model.id %}')" class="theme-btn theme-btn-sm rounded" style="width: 20%;margin-left: 5px">Annuler</button>
                </div>

                <hr class="hr-ligne">
                <!-- Appel de la fonction message -->
                {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}<br>

                <form id="form" method="POST" action="{% url 'module_recouvrement_post_add_action_scenario' %}"  enctype="multipart/form-data" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
                    novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
                    {% csrf_token %}
                    <input id="submit" type="submit" style="display: none">
                    <input type="text"  id="ref" name="ref" value ="{{ model.id }}" style="display: none">
                    {% if isPopup %}<input id="isPopup" name="isPopup" value="1" type="text" style="display: none">{% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <label>Désignation</label><span style='font-weight: bold; font-size: 14px; margin-left: 5px; color: red;'>*</span>
                            <div class="input-control text full-size" data-role="input">
                                <input value="{{ model.designation }}" name="designation" id="designation" type="text" data-validate-func="required" data-validate-hint="Saisissez le champ Désignation SVP !">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Nombre de jours</label><span style='font-weight: bold; font-size: 14px; margin-left: 5px; color: red;'>*</span>
                            <div class="input-control text full-size">
                                <select name="nb_jours" id="nb_jours">
                                    <option value="">Sélectionnez une option</option>
                                    {% for item in model.list_nb_jours %}<option {% if model.nb_jours == item.id %}{{ "selected" }}{% endif %} value="{{ item.id }}">{{ item.designation }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Type action</label><span style='font-weight: bold; font-size: 14px; margin-left: 5px; color: red;'>*</span>
                            <div class="input-control text full-size">
                                <select name="type_action" id="type_action">
                                    <option value="">Sélectionnez une option</option>
                                    {% for item in model.list_type_action %}<option {% if model.type_action == item.id %}{{ "selected" }}{% endif %} value="{{ item.id }}">{{ item.designation }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Scénarios de relance</label><span style='font-weight: bold; font-size: 14px; margin-left: 5px; color: red;'>*</span>
                            <div class="input-control text full-size">
                                <select name="scenario_id" id="scenario_id">
                                    <option value="">Sélectionnez une option</option>
                                    <option class="create_option" value='-100' data-url="/recouvrement/scenario_relance/add?isPopup=1">Créer nouveau...</option>
                                    {% for item in scenario_relances %}<option {% if model.scenario_id == item.id %}{{ "selected" }}{% endif %} value="{{ item.id }}">{{ item }}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="input-control checkbox small-check full-size">
                                <input name="est_automatique" id="est_automatique" {% if model.est_automatique == True %} {{ "checked" }} {% endif %} type="checkbox">
                                <span class="check"></span><span class="caption">Relance automatique</span>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>Description</label>
                            <div class="input-control text full-size">
                                <textarea name="description" id="description" >{{ model.description }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Sujet</label>
                            <div class="input-control text full-size" data-role="input">
                                <input value="{{ model.sujet }}" name="sujet" id="sujet" type="text" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Message</label>
                            <div class="input-control text full-size">
                                <textarea name="message" id="message" >{{ model.message }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Langue</label>
                            <div class="input-control text full-size" data-role="input">
                                <input value="{{ model.langue }}" name="langue" id="langue" type="text" >
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <ul class="nav nav-tabs navtab-bg">
                            <li class="active"><a href="#frame_autres" data-toggle="tab" aria-expanded="false"><span>Autres informations</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="frame_autres">
                                <div class="row margin20 no-margin-left no-margin-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}