{% extends "ErpProject/ModuleAchat/shared/layout.html" %} {% block page %}
<ul class="breadcrumb">
    <li><a><span class="mif-home"></span></a></li>
    <li><a class="chargement-au-click" href="{% url 'module_achat_list_categorie_articles' %}">Module Achat</a></li>
    <li><a class="chargement-au-click" href="{% url 'module_achat_list_categorie_articles' %}">Liste des catégories d'article</a></li>
    <li><a class="chargement-au-click" href="{% url 'module_achat_details_categorie_articles' model.id %}">{{ model.designation }}</a></li>
    <li>{{ title }}</li>
</ul>
<div class="row">
{% include 'ErpProject/ErpBackOffice/widget/submitButton.html' with  id="btnSubmit"  class="theme-btn theme-btn-sm rounded primary_color_{{module.name|lower}}" val="Valider"%}
    <button onclick="javascript:window.location.assign('{% url 'module_achat_details_categorie_articles' model.id %}')" class="button small-button rounded chargement-au-click" style="margin-left: 5px">Annuler</button>
</div>
<hr class="hr-ligne">
<!-- Appel de la fonction message -->
    {% include 'ErpProject/ErpBackOffice/widget/message.html' with messages=messages only %}
<br>

<div class="row cells3" style="margin-top: 10px">
    <div class="cell">
        <form id="form" method="POST" action="{% url 'module_achat_post_update_categorie_articles' %}" data-role="validator" data-show-required-state="false" data-hint-mode="line" data-hint-background="bg-red" data-hint-color="fg-white" data-hide-error="5000"
            novalidate="novalidate" data-on-error-input="notifyOnErrorInput" data-show-error-hint="false">
            {% csrf_token %}
            <input id="submit" type="submit" style="display: none">
            <input name="ref" type="hidden" value="{{ model.id }}">
            <div class="row">

            </div>
            <div class="row">
                <label>Nom</label>
                <div class="input-control text full-size" data-role="input">
                    <input name="designation" value="{{ model.designation }}" type="text" data-validate-func="required" data-validate-hint="Entrez la désignation de la categorie !">
                    <span class="input-state-error mif-warning"></span>
                    <span class="input-state-success mif-checkmark"></span>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}